[2011-11-27 09:58] blegat opened #1 "utf8x"
When I compile, I got :
`! LaTeX Error: File`utf8x.def' not found.`

I think it could be a good idea to change
`\usepackage[utf8x]{inputenc}`
to
`\usepackage[utf8]{inputenc}`

Since I don't know the exact difference between both, I'm asking...

[2011-11-27 10:14] blegat opened #2 "Should *.pdf be ignored ?"
Should `*.pdf` be ignored ?
Is it relevant to commit pdf files change with tex files ?

It has the advantage for watcher to easily see the progress of the project without cloning/compiling

However, perhaps they will be interpreted as changed just by compiling the same tex file with different compilers...

[2011-11-27 11:21] #1 closed, assigned to blegat

[2011-11-27 11:35] blegat opened #3 "Makefile complain while removing nothing"
When calling `$ make clean` when there is nothing to clean. The makefile complain... `./*.aux: No such file or directory`

[2011-11-27 11:40] #3 closed, assigned to blegat

[2011-11-27 14:23] #2 closed, assigned to nobody

[2011-12-23 22:46] blegat opened #4 "T1"
\usepackage[T1]{fontenc} doesn't work on my system
It prints
`! Font T1/cmr/m/n/10.95=ecrm1095 at 10.95pt not loadable: Metric (TFM) file not
found
<to be read again>
                                   relax
l.100 \fontencoding\encodingdefault\selectfont`

[2011-12-23 22:52] blegat opened #5 "Package babel Warning"
When compiling elec.tex, I get the following Package babel Warning
`Package babel Warning: No hyphenation patterns were loaded for
(babel)    the language French
(babel)    I will use the patterns loaded for \language=0 instead.
Package frenchb.ldf Warning: OT1 encoding should not be used for French.
(frenchb.ldf)    Add \usepackage[T1]{fontenc} to the preamble
(frenchb.ldf}    of your document, o

[2012-04-05 08:47] #5 closed, assigned to nobody

[2012-04-05 08:47] #4 closed, assigned to nobody

[2012-06-06 19:08] cdamman opened #9 "Synthèse de chimie: endo ou exo ?"
Synthèse de chimie github, page 5, number 9, il est marqué:
"Les gaz nobles ont une E_A négative (exothermique) car tout e− ajouté
occupe une orbitale au-delà d’une couche pleine et loin du noyau"

C'est justement endothermique non ? (le tableau donné est inversé car Atkins & Jones ont inversé le calcul, donc ici E_A <0 = endo).
Ca me parait vraiment bizarre qu'un gaz rare kiffe qu'on lui rajoute

[2012-06-10 10:00] cdamman opened #10 "Synthèse de math"
Point 1.4 (Gramm-Schmidt): on parle de transformer la base e en base orth. u, mais on transforme x en e....
C'est pas bien de pas faire ce qu'on dit !

[2012-06-10 10:09] cdamman opened #11 "Synthèse de math"
Définition 21 (Multiplicité algébrique): noter dét(...) évitera de confondre avec valeur absolue |...|

[2012-06-10 10:22] cdamman opened #12 "Synthèse de math"
Propriété 29: il ne faudrait pas rajouter "distinctes" ?

[2012-06-10 10:28] #9 closed, assigned to blegat

[2012-06-10 10:29] cdamman opened #13 "Synthèse de math"
Dans la remarque du 2.3, c'est P = ... et pas P^{-1} (ou alors il faut rajouter (...)^t )

[2012-06-10 11:35] cdamman opened #14 "Synthèse de math"
5.2 Solution pariculière: manque un T lol

[2012-06-10 12:57] cdamman opened #15 "Synthèse de math"
Propriétés 178: tu as écorché le nom du grand Stokes en lui rajoutant un C indésiré (Application du théorème de StoCkes).

[2012-06-10 14:08] cdamman opened #16 "Synthèse de math"
Définition 57: Imf = {f(a)|a € a}
C'est a \in A et pas a \in a haha

[2012-06-10 14:23] cdamman opened #17 "Synthèse de math"
Propriétés 76: ... Soit a 2 A¯ est B un sous ensemble de a

[2012-06-10 14:27] cdamman opened #18 "Synthèse de math"
Remarque 78: ... en UN nombre fini de restrictions DONT l’union redonne A ...

[2012-06-10 14:31] cdamman opened #19 "Synthèse de math"
Propriétés 84:
... alors f/g est continue (sans S) en a.
... Une FonCtion vectorielle est continue

[2012-06-10 14:51] cdamman opened #20 "Synthèse de math"
10.2.1: Calculer test (TOUTES ?) les dérivées partielles au point a
(règle usuelle (sans S) ou définition)

[2012-06-10 15:59] cdamman opened #21 "Synthèse de math"
Proposition: pour Taylor, renoter l'erreur d'ordre 3 explicitement, je déteste ces foutus symboles de somation et je pense pas être le seul ;)

Si tu vois pas ce que je veux dire, c'est en fait renoter l'expression de E(x,y) noté en page 53 du fichier APP-APE_iCampus_2012, solution de l'exercice 9:
"L'erreur est donne par
E(x; y) = ...".

Ca peut être utile, comme ca quand on le relira vite fait

[2012-06-10 16:02] cdamman opened #22 "Synthèse de math"
Définition 128: je rajouterais: "Un point selle (PARFOIS AUSSI APPELLE COL) est un point a ..."

[2012-06-10 16:14] cdamman opened #23 "Synthèse de math"
17.4.1 et 17.4.2: "Un extrema local libre est unE extrema local..."

[2012-07-17 13:54] #17 closed, assigned to blegat

[2012-07-17 13:54] #18 closed, assigned to blegat

[2012-07-17 13:54] #19 closed, assigned to blegat

[2012-07-17 13:54] #20 closed, assigned to blegat

[2012-07-17 13:54] #23 closed, assigned to blegat

[2012-08-30 21:01] Oyibo opened #24 "Synthèse de math"
Propriété 143: "Dans ce cas, il ne faut pas que le gradient (de la contrainte) soit non-nul"  elle ne "doit" pas mais ceci dit elle peut l'être, donc cette phrase prete à confusion, sauf erreur de ma part.

[2012-10-17 12:15] PLeboutte opened #25 "Synthèse de Chimie"
J'aurais juste une petite remarque dans la synthèse de chimie dans le résumé a la page 15, il est noté pour un gaz parfait DIatomique, un gaz parfait n'est pas monoatomique par définition?

Merci d'avance

Pierre Leboutte

[2012-10-17 13:10] #24 closed, assigned to nobody

[2012-10-26 14:20] #10 closed, assigned to blegat

[2012-10-26 14:20] #11 closed, assigned to blegat

[2012-10-26 14:20] #12 closed, assigned to blegat

[2012-10-26 14:20] #13 closed, assigned to blegat

[2012-10-26 14:20] #14 closed, assigned to blegat

[2012-10-26 14:20] #15 closed, assigned to blegat

[2012-10-26 14:20] #16 closed, assigned to blegat

[2012-10-26 14:20] #21 closed, assigned to blegat

[2012-10-26 14:20] #22 closed, assigned to blegat

[2012-11-05 22:44] aleveau opened #26 "Methode Num"
Page 6, première formule de la partie portant sur l'intégration numérique.
Je pense que la somme commence à i=0 et pas à i=1

[2012-11-10 20:06] FlorentDHondt opened #27 "Physique"
Concernant l'effet Doppler, ne pas oublier ne préciser que lorsque la source est un radar, on a 2 effets Doppler consécutifs: l'objet/personne est d'abord l'observateur et le radar la source, puis la personne devient la source et le radar l'observateur.
Il ne faut donc pas oublier de multiplier par 2 les résultats obtenus!

[2012-11-10 22:35] #26 closed, assigned to blegat

[2012-11-11 10:46] aleveau opened #28 "Physique"
Page 6, Loi de Snell-Descartes , je pense que θ_2 est l'angle réfracté et pas l'angle réfléchit, car pour moi l'angle réfléchit est toujours égal à l'angle d'incidence! :)

[2012-11-11 14:09] FlorentDHondt opened #29 "Physique (polarisation)"
Pour connaître le type de polarisation, il serait peut-être plus précis d'expliquer comme ceci:
1°) si φ2 − φ1 = 0 ou π, ou si A1 = 0 ou A2 = 0 --> linéaire
2°) si φ2 − φ1 = ±π/2 et A1 = A2 --> circulaire
3°) si ni 1° ni 2°, alors elliptique

Source:  http://www.joelsornette.fr/physique/PC/ressources/cours/cours20.pdf   page 1

[2012-11-11 16:27] #28 closed, assigned to blegat

[2012-12-27 12:25] benlouyou opened #30 "[Physique]"
Dans les toutes premières lignes, page 2-3 (point 1 :  Courant de déplacement), tu parles de la loi d'ampère qui est erronée et à deux reprises tu écris l'intégrale de B sur l'élément de surface dA mais il s'agit en fait de l'élément de "chemin" dl !

[2012-12-27 12:38] benlouyou opened #31 "[Physique] point 4.2.1"
Dans la partie 4.2.1 sur la réflexion, il y a une inversion (du moins je pense)
Le premier tiret devrait être
- si n2 > n1

et le second
- si n2 < n1

et non l'inverse comme c'est mis dans le pdf ;)

[2012-12-30 20:34] jugerardy opened #32 "Chimie"
à la page 32, section 9.1.3 : le facteur intégrant, la fonction g(x,y) = x^(-2) au lieu de x^2 :)

[2012-12-31 14:49] #32 closed, assigned to blegat

[2012-12-31 14:50] #31 closed, assigned to blegat

[2012-12-31 14:50] #30 closed, assigned to blegat

[2013-01-05 13:50] Gfeuillen opened #33 "Math"
Page 4: Lorsque tu introduis les variables pour l'équation de densité de trafic :

\roh (x,t), le nombre de véhicules par MEN  x au temps t, t'as oublié un espace entre M et EN
N(x0, x1,t), le nombre de véhicules entre x1 et x2 au temps t.  Ne serait-ce pas entre x0 et x1 ?

[2013-01-08 08:54] #33 closed, assigned to blegat

[2013-01-12 09:08] #29 closed, assigned to blegat

[2013-01-15 08:00] aleveau opened #34 "MATH"
C'est tout bête mais je pense que tu as oublié de supprimer un terme à gauche de ton équation quand tu as divisé par Y_m . L/2  , page 11 juste avant la remarque 4

[2013-01-15 11:37] #34 closed, assigned to blegat

[2013-05-24 14:12] Gp2mv3 opened #36 "eco-FSAB1803: Ajouter 2/3 graphs"
Je pense que dans la synthèse d'éco il peut être bon d'ajouter 2/3 graphs dans des annexes ou quoi. Parce que l'analyse de graphs, on en aura d'office à l'examen.

[2013-05-24 14:13] #27 closed, assigned to blegat

[2013-05-24 20:35] jugerardy opened #37 "Eco, 1.6 court terme et long terme"
Salut, t'es sur que les deux dernières lignes du paragraphe sur le long et court terme ne sont pas inversée  ?

Si le cout marginal LT > cout marginal CT le producteur est suréquipé non ?

page 29 du syllabus

[2013-05-25 06:51] Gp2mv3 opened #39 "Fullpage ?"
Ne faudrait-il pas mettre toutes les synthèses en fullpage ?
Ca vire toutes les énormes marges tout en gardant quelque chose de beau.
C'est un package à ajouter et on gagnera en pages.

[2013-05-25 06:55] #37 closed, assigned to nobody

[2013-05-25 09:03] #39 closed, assigned to nobody

[2013-05-25 09:13] blegat opened #40 "Marché oligopolistiques en section"
Stackelberg, Bowley et Bertrand ne devraient pas être en `\subsection` ?

[2013-05-25 09:26] #40 closed, assigned to blegat

[2013-05-28 21:15] ghost opened #41 "Opti linéaire"
p7, pour les étapes du simplexe, le point 3, c'est B^(-1)*Aj et pas Nj

[2013-05-29 11:52] #41 closed, assigned to nobody

[2013-06-01 14:50] ghost opened #42 "Signaux et sytème, synthèse"
point 3.2, ce n'est pas Fu mais Lu pour Laplace unilatérale

[2013-06-01 19:23] #42 closed, assigned to nobody

[2013-06-04 15:05] Spotchi opened #43 "Synthèse EDO"
Il me semble qu'à la page 5 de la méthode de réduction d'ordre, le choix du vecteur "e" se fait de manière à ce que  (e|u1) ne s'annule jamais. Il ne faut donc pas que e et u1 soient linéairement indépendants et le paragraphe qui suit est inutile.
Il faudrait aussi dire qu'il est toujours possible de trouver un e qui répond à cette définition pour un certain intervalle parce que u1 ne s'annule jam

[2013-06-05 07:53] Gp2mv3 opened #44 "Infos pour la création d'une nouvelle synthèse"
@blegat Tu devrais ajouter dans le wiki ou dans un readme la liste des fichiers à modifier pour ajouter une synthèse.
Ca encouragerait peut être les gens à créer des synthèses aussi, histoire que tu les fasses pas toutes.

Je vais en commencer une en meca la semaine prochaine, après eco je pense.

[2013-06-05 13:16] #43 closed, assigned to nobody

[2013-06-06 16:48] #44 closed, assigned to nobody

[2013-06-07 09:51] cdamman opened #45 "CINDY p12"
Il manque le P\* ... dans les formules
H' ext = tan(a + phi) => H' ext = P_tan(a + phi)
H'' ext = tan(a − phi) => H'' ext = P_tan(a − phi)

[2013-06-10 14:01] #45 closed, assigned to blegat

[2013-06-10 17:07] ghost opened #46 "ECO Q4"
4.5 Bertrand, ce sont les producteurs et pas les consommateurs qui produisent qi

[2013-06-11 15:18] #46 closed, assigned to nobody

[2013-06-11 15:21] #25 closed, assigned to nobody

[2013-06-12 07:40] cdamman opened #47 "Eco: 4.1 Cournot"
Equilibre de Cournot:
"Il peut y avoir plusieurs équilibre"
Faute d'orthographe:
équilibreS ;)

[2013-06-12 08:47] #47 closed, assigned to blegat

[2013-07-11 16:21] blegat opened #48 "Manque de participation extérieure"
Ce projet manque de participation des autres étudiants que ce soit pour développer des nouvelles synthèses, d'ajouter des synthèses déjà faites à ce projet ou d'améliorer des synthèses existantes en changeant le code ou en reportant un problème.

Je pense que les gens se font une fausse idée en croyant que c'est un projet fait par Gp2mv3 et moi même alors qu'il est ouvert à tout le monde (sinon on

[2013-07-11 16:37] blegat opened #49 "Utilisation de Sphinx"
Ça serait super si on arrivait à réécrire des synthèses en reStructuredText. On aurait donc certaines synthèses en LaTeX et certaines en reStructuredText ce qui permettrait à tout le monde de choisir ce qu'il préfère ou du moins d'atteindre une traduction.

On pourrait ensuite, à l'aide de Sphinx, compiler ça en un peu tout ce qu'on veut c'est à dire `html`, `epub`, `tex` pour `pdf`, ...
Ce systèm

[2013-07-11 16:49] blegat opened #50 "Kconfig et menuconfig"
Ça pourrait être sympa d'intégrer un outil comme Kconfig utilisé entre autre par coreboot et le noyau Linux qui permet de personnaliser facilement la compilation à l'aide d'un menu semi-graphique (c'est à dire graphique mais en console :P).
On pourrait par exemple donner comme option
* la marge avec
  * normal;
  * fullpage;
  * top: x cm, bottom: x cm, ...
* la présence ou pas d'une table des mat

[2013-07-11 16:51] blegat opened #51 "Citer les profs"
Comme mentionner [ici](http://www.forum-epl.be/viewtopic.php?t=12142), ça serait bien de citer les profs pour chacune des synthèses.

[2013-12-27 18:08] saleket opened #54 "Synthèse proba-stat Q5"
Salut, j'ai remarqué certaines erreurs dans le .pdf

La première se trouve dans la partie 2 Echantillon

"La variation d'un échantillon s^2 ... il manque un exposant 2 sur la parenthèse (x_i-x)

Et une autre erreur se trouve à la page 8 après l’équation (14)
C'est S_{p}^{2} et pas simplement Sp qui est égal aux termes qui suivent ;)

Merci pour la synthèse !

[2013-12-27 18:18] #51 closed, assigned to nobody

[2013-12-27 18:21] #54 closed, assigned to nobody

[2013-12-27 20:17] blegat opened #55 "MMC terme convectif"
Page 12, dérivée matérielle.
Tu mets que le terme convectif "provient du changement introduit par la nouvelle particule".
Ça serait pas plutôt "provient du fait que la particule bouge" ?

[2013-12-27 22:29] saleket opened #56 "Synthèse proba-stat Q5 (2)"
Re

Il y 3 petites erreurs dans la dernière page de la synthèse (régression linéaire)
Dans l'expression beta0 il y a X chapeau au lieu de Xbarre
Ensuite Sxx et Syy sont inversés
Et enfin, il manque un exposant deux autour du terme entier de la somme dans l'expression de S^2 -> ( Yi - beta0 - beta1 Xi )^2

Bonne soirée :)

[2013-12-28 11:16] #56 closed, assigned to nobody

[2013-12-28 12:56] #55 closed, assigned to nobody

[2013-12-28 22:13] blegat opened #57 "Page 20 MMC"
Section 15, il est mis
Soient (n_1, n_2, n_3) les composantes d'un des vecteurs principaux (hatn_1, hatn_2, hatn_3).
Pour obtenir l'équation un trouve après, il faut que \sigma soit exprimé dans la base où il est diagonal.
Donc la base (hatn_1, hatn_2, hatn_3).
Du coup, (n_1, n_2, n_3), c'est plutôt les coordonnée d'un vecteur dans la base (hatn_1, hatn_2, hatn_3), non ?

[2013-12-29 16:51] jdewasseige opened #58 "vocabulaire p.24 synthese Q1 math"
Je pense qu'il y a une petite erreur dans la définition du degré d'un noeud n.
"Le dégré de n, noté deg(n), est le nombre d'arêtes adjacentes au noeud n ..." , il me semble que 'adjacentes' devrait être remplacé par 'incidentes' ?

[2013-12-29 17:44] #58 closed, assigned to nobody

[2013-12-29 19:06] #57 closed, assigned to nobody

[2014-01-02 16:52] #49 closed, assigned to nobody

[2014-01-10 08:07] cdamman opened #61 "Synthèse de Probabilité et Statistiques Q5"
Pg 5, c'est P(|ô − o| < e) = 1 ou P(|ô −  o| > e) = 0.
(voir slide 223/291)

[2014-01-10 08:46] #61 closed, assigned to blegat

[2014-01-12 09:44] narjad opened #63 "mmc discontinuités"
ligne 1497 de mmc.tex (Discontinuités > relation pour la quantité de mouvement)

Pour l'intégrale qui tend vers zéro,
l’intégrant ne serait pas \rho\fv{f} au lieu de \rho\fv{v} ?

[2014-01-13 17:25] #63 closed, assigned to nobody

[2014-10-26 10:14] alegat opened #101 "[Info2 Q3] Qq petites corrections"
Section [Instructions et expressions] :
Je ne comprends ce que tu as voulu dire par les phrases suivantes, peut-être qu'il faudrait les reformuler.
1. Si on prend le langage complet, il y a une exception car la dernière instruction d'une fonction doit être une expression.
2. Comme vu plus haut, \oz{} n'a aucune exception à cela seulement en langage noyau.

[2014-11-09 13:29] #101 closed, assigned to nobody

[2015-01-07 20:35] blegat opened #127 "Sections en Sans-Serif"
Pour les sections, sous-sections, ... j'ai testé de les mettre en sans-serif et ça donne pas mal.
Vous en pensez quoi ? On garde ça ?
Parce que là toutes les synthèses utilise le style vraiment de base de LaTeX on peut un peu penser à les rendre plus jolies :) (juste en changeant `lib.tex` bien sûr).

[2015-01-07 20:56] anpar commented on #127
Je suis pour l'idée de rendre les synthèses un peu plus jolies! Mais pour les sections/sous-sections je suis pas fan du sans-serif a priori, je trouve que ça se fond trop dans le contenu. Mais bon c'est sans doute une question d'habitude aussi :)

[2015-01-07 21:04] cassiersg commented on #127
Personnellement, je trouve que les classes KOMA-Script (`scrrprt`) sont un peu plus agréables à la lecture (ça correspond plus aux standards de mise en page européens). Ces classes changent la fonte des titres, je pense que c'est du sans-sherif bold par défaut.

Un autre problème de mise en page qu'il y a actuellement, c'est les changements de parties : il faudrait un saut de page à chaque nouvell

[2015-01-07 21:12] Gp2mv3 commented on #127
Perso je suis tombé amoureux de l'IEEETran mais bon, on va pas mettre ça comme format sur les synthèses quand même...

[2015-01-08 14:08] blegat commented on #127
Selon [ceci](http://tex.stackexchange.com/questions/73141/why-should-i-not-use-the-koma-script-classes),
on dirait que KOMA-Script est mieux à tout point de vue mais que ça change un peu. Peut-être que certaines synthèses écrites avec `article` ou `report` seront difficiles à traduire  ou peut-être que certains seront perturbés par les différences.
Après si c'est des différences plus subtiles dans

[2015-01-10 20:16] blegat commented on #127
Tout bien réfléchi, j'opterais plutôt sur

    \documentclass[SIunits]{summary}
    \hypertitle{...
pour avoir ce qu'il y a actuellement. Et par exemple

    \documentclass[en, minted,scrrprt]{exam}
    \hypertitle{...

pour faire un examen, être en anglais, utiliser `minted` à la place de `listings` et `scrrprt` à la place de `report`.
Faudra juste checker comment faire pour que lorsqu'on compile

[2015-01-11 09:17] cassiersg commented on #127
Ça fonctionne pas si on met `\documentclass{../../../exam}` ? Pour les packages en principe ça fonctionne, ça devrait être pareil pour les classes.

[2015-01-11 13:48] blegat commented on #127
En effet, ça marche juste comme ça :)

[2015-01-14 14:59] blegat commented on #127
Voilà, c'est maintenant beaucoup plus propre :)
J'ai laissé `lib.tex` pour la backward compatibility mais y a plus trop de raison de l'utiliser :)

J'ai aussi changé `lib.mk` que j'ai renommé `root.mk` pour pas qu'il y ait de conflit pour supporter le fait qu'il y a plusieurs types (summary, exercises, exam, interro), ... Il faut aussi mettre à jour `q?.mk` si on faut qu'un cours utiliser `root.mk

[2015-01-14 15:01] blegat commented on #127
Ce qui est un peu chiant c'est un a des warning parce qu'on utilise les packages `../../../eplsummary` qu'on appelle `eplsummary`...
On pourrait résoudre ça en mettant la variable d'environnement à `.:./../..:` et en utilisant `\documentclass{eplsummary}` mais alors ça compilera plus out of the box et je sais pas ce qu'il faut changer sur Windows :P

[2015-02-03 16:24] Nhoutain opened #157 "Uniformisation des noms"
Il est peut-être utile d'insérer une nomenclature aux dossiers.

Y'en a certain juste avec des codes (pas lisible à première vue), ou juste avec des noms.

[2015-02-03 18:04] blegat commented on #157
Je pensais simplement mettre le nom du cours, on est sûr que c'est unique et non-ambigüe: e.g. SINF1252

[2015-02-03 20:35] Nhoutain commented on #157
Pour ma part, je trouve pas ca très parlant et assez lourd qd tu recherche un vieux cour (ou même un cour sans connaître forcément son code..)

Ça ne dérange que moi? :p

Je pensais à "titreTresCourt_code" dans cet ordre la pour faciliter la complétion

[2015-02-04 12:30] blegat commented on #157
Ouai c'est vrai, mais il faut savoir que du coup, le pdf s'appellera `Synthèse_q7_titreTresCourt_code.pdf`.
On mettra pas un tiret plutôt alors ? Pour avoir `Synthèse_q7_titreTresCourt-code.pdf`.
Ou alors je change pour avoir `Synthèse-q7-titreTresCourt_code.pdf`.

[2015-02-04 12:45] Nhoutain commented on #157
Si en effet.
Je trouve le première plus esthétique (personnellement)

[2015-02-04 13:44] blegat commented on #157
Avec que des underscore ? On peut faire ça. En soit je préfère la deuxième car la séparation entre titreTresCourt et code est pas la même que les autres.

[2015-02-04 13:45] Nhoutain commented on #157
Non, je voulais dire la première des proposition pour éviter tout les underscore :
Synthèse_q7_titreTresCourt-code.pdf

[2015-02-04 13:46] blegat commented on #157
Ah oui, bah on est d'accord alors :D

[2015-02-05 09:32] blegat commented on #157
Dans le code, on met le L ou pas ? LINGI2347 ou INGI2347. En soit il est pas très informatif...

[2015-02-05 10:10] Nhoutain commented on #157
En effet

[2015-02-05 11:01] blegat commented on #157
L'avantage de juste prendre le code, c'est pour les examens. Si on veut suivre la convention utilisée sur le forum-epl, pour les examens, on doit mettre INGI2347-2015-Janvier.pdf
Du coup, il faudra traduire tous les noms de cours (ici, secu-INGI2347 -> INGI2347).
Regarde la ligne 280 du `README`

[2015-02-05 11:03] Nhoutain commented on #157
Le but est d'avoir qqlch de humain friendly si vous voulez avoir des
participations.. et juste le code ça l'est pas...

Note: se baser sur le forum-epl qui est mort, est-ce une bonne idée ? :)
Le 5 févr. 2015 12:01, "Benoît Legat" <notifications@github.com> a écrit :

[2015-02-05 13:45] blegat commented on #157
Je disais juste pour que tu saches quel était le seul argument contre :) maintenant c'est vrai que les avantages de ton idées sont plus importants que les inconvénients :P

[2015-02-05 13:47] Nhoutain commented on #157
D'accord :D
Le 5 févr. 2015 14:45, "Benoît Legat" <notifications@github.com> a écrit :

[2015-05-06 07:26] wil222 opened #170 "Lien EPL-Heavy"
Bonjour,
Le lien dans le README est mort

[2015-05-06 16:44] blegat commented on #170
Bien vu :)

[2015-05-06 16:45] #170 closed

[2015-05-24 20:57] fthuin opened #180 "readme ajouter une synthèse"
le README devrait être mis à jour pour reprendre l'utilisation de add.sh de @Nhoutain

[2015-05-25 11:23] fthuin opened #182 "add.sh ajouter un examen"
Le fichier add.sh devrait proposer de créer les examens comme prévus par les autres fichiers, autrement dit

cours-code/exam/année(ex:2014)/month(ex:Juin)/Majeure/ avec les différents .mk dans chaque répertoire et le nom du fichier type cours-code-exam-année-month-majeure.tex

[2015-05-25 13:03] blegat commented on #182
Et il faudrait aussi demande s'il faut

* rien mettre: énoncé et solutions
* mettre `SOL=only` dans le Makefile: uniquement solutions (que le pdf avec `-Sol`).
* mettre `SOL=` dans le Makefile: uniquement énoncé.
Ça s'applique pour exam, test, exercises et mcq

[2015-05-25 20:07] Nhoutain commented on #180
:+1:

[2015-06-07 16:53] pgonzalezalv opened #210 "[FSAB1101 - q1/math] Correction dérivée de Taylor"
Bonjour,

Je remarque qu'il y a une petite erreur dans la somme de la **dérivée du polynôme de Taylor**.
D'après la synthèse, la dérivée du polynôme de Taylor est le polynôme de Taylor d'ordre **n** de la dérivée de la fonction f. Or, en utilisant la définition du polynôme de Taylor, on obtient le polynôme de Taylor d'ordre **n-1** de la dérivée de la fonction f.

**Erreur (lignes 146-147) :**

\[

[2015-06-12 15:02] blegat commented on #210
Bien vu, merci :)

[2015-06-12 15:03] #210 closed

[2015-07-29 15:22] blegat commented on #127
J'ai ajouté dans eplbase l'option `usereportclass` qui permet d'utiliser la classe report au lieu de la classe article :)
La synthèse de `geomat-AUCE1171` par exemple utilise cette option.

Je pense qu'on peut peut aussi ajouter les classes KOMA-script :)
Pour le design des section etc.. on peut faire plusieurs design différent et on peut choisir le design avec une option qu'on donne à eplbase.
Le

[2015-07-29 15:23] #50 closed

[2015-07-29 17:54] fthuin commented on #127
Tu pourrais préciser ton idée ? Tu as un exemple de ce que tu voudrais plus ou moins mettre en place (typiquement un ou plusieurs templates qui te parlent) ? J'ai regardé vite fait komascript pcq je connaissais pas mais il est mis qu'il peut y avoir des problèmes d'incompatibilité avec certains paquets (http://tex.stackexchange.com/questions/73248/what-packages-are-incompatible-with-koma-script).

[2015-07-29 21:42] blegat commented on #127
Ça devrait aller pour la compatibilité, au pire on ajoutera des if dans le .cls
Quand quelqu'un fait une synthèse il pourra choisir une classe parmis larticle, report, koma, ... et un style parmis ceux implémentés.
Pour les styles, ça peut être n'importe quoi, on peut faire des thèmes plus chargé et des thèmes moins chargés.

D'ailleurs, on pourrait rajouter le logo EPL et UCL sur la page de garde

[2015-12-13 09:13] mcouplet opened #233 "elec-FSAB1201: manque équivalents de Thévenin et Norton, montage transfo - redresseur - filtre et ampli op"
Cette partie a été ajoutée récemment je pense et n'est pas dans le Young.

[2015-12-13 09:42] blegat commented on #233
Elle n'était pas enseignée notre année ce qui explique qu'elle manque :-P Il faudrait en effet l'ajouter.

[2015-12-16 10:39] fthuin opened #235 "[Compilation] Q7 - INGI2143"
Il y a une erreur de compilation pour la synthèse de concurrent systems en Q7 (INGI2143) que je n'arrive pas à comprendre (ça bug sur {Charles Pecheur} dans hypertitle). Il y a moyen de compiler malgré tout mais c'est gênant.

[2015-12-19 13:27] blegat commented on #235
C'est parce qu'il utilise `subfig` qui est deprecated et incompatible avec subcaption

[2015-12-19 13:29] #235 closed

[2015-12-19 13:29] blegat commented on #233
@mcouplet Fixed by #234 non ? :)

[2015-12-19 13:30] blegat commented on #182
@fthuin c'est résolu non ?

[2015-12-19 13:30] blegat commented on #180
@fthuin c'est fait avec ton pdf mtn non ? :)

[2015-12-19 13:31] blegat commented on #180
ah non y a encore une section du README qui parle de ça, il faudrait virer

[2015-12-19 13:37] fthuin commented on #182
Oui !

[2015-12-19 13:37] #182 closed

[2015-12-19 13:42] mcouplet commented on #233
Nope, il manque encore le transfo et l'ampli op. Je fais ça dès que possible !

[2015-12-19 13:43] fthuin commented on #180
Il faudrait nettoyer le README et ajouter des liens vers le wiki ou vers le PDF (p-ê push le PDF sur le git ?) pcq vu la lisibilité du truc personne doit prendre le temps d'y regarder

[2015-12-19 15:15] blegat commented on #180
Le PDF est sur Dropbox, les gens vont chercher les synthèses là non ?

[2015-12-19 17:28] fthuin commented on #180
Ah oui c'est vrai, mais moi je vais jamais sur la dropbox donc j'avais oublié son existence... On peut supprimer cette parite du README et fermer cette issue :)

[2015-12-20 09:17] blegat commented on #180
Yep, je vais faire ça :)

[2016-01-02 12:58] #233 closed

[2016-01-02 13:23] blegat commented on #180
@fthuin : Tu penses quoi de 86935ae ?

[2016-01-02 13:34] mcouplet opened #251 "elec-FSAB1201-summary : mettre les circuits en CircuiTikZ"
Tous les montages ampli op sont en png, c'est pas très joli, il faut les mettre en `circuitikz`.
Et si quelqu'un a une autre solution pour le graphique associé au bloc alim, ce serait cool !

[2016-01-02 15:00] fthuin commented on #180
C'est nickel comme ça :) (j'ai annoté 2 erreurs dans le commit)

Après les exams j'essaierai de revoir un peu le wiki aussi

[2016-01-02 15:01] blegat commented on #180
Oui le wiki est à revoir :P

[2016-01-03 20:58] ldevillez commented on #251
J'ai commencé à travailler pour voir si ça rendait bien. Pour le V0 j'ai du mettre une réstance  blanche mais je dois encore la décaller pour que ça soit mieux à moins que quelqu'un ait une autre idée.

![capture d ecran 42](https://cloud.githubusercontent.com/assets/15208526/12080738/ee3152a8-b264-11e5-9f3f-c662f60f81e6.png)

[2016-01-03 21:58] anpar commented on #251
http://ftp.math.purdue.edu/mirrors/ctan.org/graphics/pgf/contrib/circuitikz/doc/circuitikzmanual.pdf
En général j'utilise ce qui est expliqué en bas de la page 48 pour dessiner les tensions

[2016-01-03 23:29] mcouplet commented on #251
Sinon y a ça qui est très simple !
`(node1) to[open, v^<=$V_0$] (node2)`

[2016-01-04 11:31] ldevillez commented on #251
@mcouplet @anpar merci beaucoup j'avais essayé mais j'avais mis un V et non un v donc ça marchait pas ^^. Par contre c'est normal que ma flêche rentre dans le schéma et que je doive légèrement la déplacer ?

[2016-01-04 12:31] mcouplet commented on #251
Je vois pas ce que tu veux dire, tu peux mettre un screenshot ?
Et btw, utilise `\begin{circuitikz}[american]`. La plupart des circuits du prof sont dans le style américain et j'ai fait tous les circuits comme ça donc ce serait bien d'uniformiser :wink:

[2016-01-05 10:41] ldevillez opened #261 "Math FSAB 1101"
Alors j'ai remarqué:
- une faute d'orthographe: le case au lieu de le cas (page 15)
- dans le cours actuel la partie matrice et système linéaire vient avant les EV, je sais pas si c'est normal que c'est le contraire dans la synthèse

[2016-01-05 16:43] ldevillez commented on #261
je viens de remarqué qu'il est mis (c1 + c2)r1^n + (c2 * r1*delta) * n * r1^n-1 alors que sur les slides de Pereira il est  c1 + c2)r1^n + (c2 * delta) * n * r1^n-1

[2016-01-05 19:45] blegat commented on #261
Dans la synthèse, on a laissé le r_1 pour que ce soit égal à l'équation du dessus. Le prof l'a retiré car ça ne fait que changer la constante c_2 donc ça marche toujours.
Il a mis r_1^(n-1) au lieu de r_1^n car comme ça (n * r_1^(n-1)) ça donne la dérivée: (r_1^n)'
Mais c'est vrai que c'est pas clair comme ça, on se demande ce qu'on fait

[2016-01-05 20:11] mcouplet commented on #261
Personnellement je trouve ça mieux les EV avant les matrices... Quand je lis la synthèse l'ordre me semble logique, c'est pas choquant. Enfin bon c'est mon avis :-)

[2016-01-05 20:12] anpar commented on #127
Dans la même idée que tout ce qui existent déjà (eplsummary, etc), on pourrait peut-être créer un template adapté aux formulaires avec (à la place de l'énorme page de garde des synthèses) une entête minimaliste (je pense par exemple au formulaire créé dans #263)

[2016-01-05 20:14] mcouplet commented on #251
@blegat Fixed by https://github.com/Gp2mv3/Syntheses/commit/b8ed283d04708a9c91cbecce5b5863bc6467ac93 ?

[2016-01-05 20:34] ldevillez commented on #261
Oki c'est vrai que c'est juste la constante C_2 qui va varier. Mais oui c'est vrai que c'est plus logique :)

[2016-01-06 09:42] ldevillez commented on #261
Je suis désolé mais à la fin de la page 17, il est mis:
 L = n - rang f(L)e
mais ça ne serait pas plutôt null L comme ça on aurait Null L + Rang L = dim E ?

[2016-01-06 11:39] blegat commented on #127
Oui, soit ça, soit on laisse une page d'entête qu'on imprime pas comme ça il n'y a même pas de titre dans les pages qu'on imprime -> gain de place :P

[2016-01-06 11:41] anpar commented on #127
C'est plus simple en effet :+1:

[2016-01-06 11:41] blegat commented on #251
Il me semble que ça fix le soucis oui :) Merci à @ldevillez

[2016-01-06 11:41] #251 closed

[2016-01-06 11:45] blegat commented on #261
C'est c'est null, si tu regardes le code j'avais mis `\null` au lieu de `\newnull`, c'est pour ça qu'on le voyait pas :)

[2016-01-06 11:48] blegat commented on #261
Mettons les flèches vers la gauche, il me semble que c'est ce que le prof fait :)

[2016-01-06 11:48] #261 closed

[2016-01-06 12:19] blegat commented on #127
Done in fb25bcfcc5e04605e60aa70fb46fb195e7bbfe52

[2016-01-08 12:44] ldevillez opened #272 "elec-FSAB1201-summary : Phaseur"
J'ai commencé le schéma phasoriel
![phaseur](https://cloud.githubusercontent.com/assets/15208526/12197982/51433406-b60c-11e5-8ec3-43c4f8a5b1bd.png)

cependant il est pas génial, quelqu'un a une idée pour l'améliorer ?
Je pensais changer les couleurs et l'aggrandir pour qu'il soit un peu plus visible.

sinon j'ai aussi un problème, l'axe verticale n'est pas en gros alors que je lui ai dis:
[code]

[2016-01-08 16:16] blegat commented on #272
Je pense que c'est juste parce que c'est une image vectorielle, si tu zooms ils ont la même épaisseur :)

[2016-01-09 18:08] blegat commented on #127
Vous pensez quoi du formatting des questions pour les exams et test (85939ac) ? Je fais pareil pour les corrections d'APE ?

[2016-01-09 18:46] anpar commented on #127
Je trouve ça vraiment bien perso!

[2016-01-09 19:00] blegat commented on #127
On retirerait pas le retour à la ligne ? Il suffit de changer `[hang]` par `[runing]`. En soit y a quasi jamais de titre et si on veut un retour à la ligne il suffit de faire une ligne blanche

[2016-01-09 21:46] Nhoutain commented on #157
#bb6aa8f0db5dc874c9e6ea72f9dcbca97bd47028

[2016-01-10 20:46] anpar commented on #127
Ça fonctionne pas chez moi en changeant ``[hang]`` en ``[running]``, j'ai plein de warning

[2016-01-12 21:27] fthuin opened #281 "IA - triangle inequality"
Il y a une inversion entre h(n') et c(n,a,n') sur le tikz explicatif.

Il faudrait aussi faire attention à modifier les footnotes car à certains endroits ça apparaît avec les formules (et on croit que c'est un exposant). Il faudrait corriger les dernières fautes d'orthographe et surtout mettre à jour toutes les images depuis le livre car la qualité est médiocre.

[2016-01-13 09:10] blegat commented on #127
J'ai updaté, je voulais dire `[runin]` :-P
https://fr.sharelatex.com/learn/Sections_and_chapters

[2016-01-13 10:15] anpar commented on #127
Ha oui ça marche mieux! Et du coup oui pourquoi pas, c'est vrai que le retour à la ligne ne sert à rien

[2016-01-17 17:52] #281 closed

[2016-01-21 09:53] blegat commented on #157
@Nhoutain Enfin fini les quadri impairs champagnes :D

[2016-01-21 09:57] fthuin commented on #157
@blegat en Q7 il reste ELEC2870 :D

[2016-01-21 13:03] blegat commented on #157
Done :)

[2016-01-21 13:38] Nhoutain commented on #157
Oh yeah, well done @blegat ! Avant le prochain quadri faudrait faire les impaires :D

[2016-02-03 09:57] fthuin opened #294 "INGI2172 - Database"
Le prof a dit que la synthèse était très incomplète (par rapport aux besoins pour l'examen), il faudrait l'améliorer. Il propose de faire des reviews des pull requests, donc s'il y en a il serait bon de lui demander des commentaires.

[2016-02-03 10:22] Nhoutain commented on #294
La synthèse reprend les slides (et je ne me rappelle pas avoir vu qql prendre notes à son cours) :p

[2016-03-03 22:42] cassiersg opened #303 "License"
On commence à avoir pas mal de contenu par ici, ce serait bien de pouvoir le rendre facilement accessible.
Ajouter une license permettrait de ne pas avoir de problèmes avec ce qu'on peut ou ne peut pas faire avec les synthèses, notamment si on veut les publier sur un espace plus public que les dropbox EPL (un site web, voire sur wikiversity pour certains cours ?)

Comme licence, je pense que quelq

[2016-03-03 22:56] blegat commented on #303
J'y ai aussi déjà pensé, il faudrait en effet mettre une licence style Creative Common. Je pense qu'on peut imposer le ShareAlike en plus. @Nhoutain @Gp2mv3 @anpar @fthuin @mcouplet @pverbist95 @ldevillez qu'en pensez-vous ?

[2016-03-03 23:09] fthuin commented on #303
Le contenu que je mets ici peut être utilisé, modifié et on peut même retirer mon nom pour moi, donc peu importe, même une WTFPL m'irait :p faites ce qui convient au plus grand nombre :)

[2016-03-04 05:54] anpar commented on #303
Bonne idée! Et CC-BY-SA me semble bien :)

[2016-03-06 19:36] mcouplet commented on #303
Je m'y connais pas du tout en licenses, j'ai un peu regardé le [CC BY-SA](http://creativecommons.org/licenses/by-sa/4.0/) et je comprends pas trop le

Quel serait un exemple d'utilisation commerciale des synthèses ?

[2016-03-06 23:01] cassiersg commented on #303
A la très grosse louche, la license CC-BY-SA veut dire qu'on autorise n'importe qui à faire n'importe quoi avec les synthèses, à condition que tout document qui contient du contenu repris des synthèse
+ mentionne ce fait (et cite les auteurs originaux)
+ soit disponible sous la même license (CC-BY-SA).

Donc on n'interdit pas à quelqu'un (prenons l'exemple le plus réaliste: le SICI) de vendre ces

[2016-03-12 10:35] ldevillez commented on #303
Hum je pense personnellement que c'est une bonne idée dans le sens qu'on fais ça je vais dire pour aider et que ça permettrait de rendre les synthèses plus accessibles dans le sens que je pense qu'il y a encore pas mal de personne qui ignore la présence de la dropbox.

Et pour reprendre l'exemple du SICI, je pense pas que leur but serait de faire du profit comme ça, si ils les vendent c'est pour é

[2016-03-12 13:29] ldevillez commented on #272
fixed by #275

[2016-03-12 17:48] #272 closed

[2016-04-04 16:47] mcouplet opened #306 "Page de garde adaptative"
La page de garde est un peu trop rigide et reste toujours la même quel que soit le type de document (`summary`, `exam`, `notes`...). De plus elle traite toujours le document comme une synthèse alors que ce n'est pas toujours le cas ("...la synthèse doit alors être mise à jour...") et considère que le repo ne contient que des synthèses ("...comme le statut des synthèses pour chaque cours...").
Ce s

[2016-04-05 14:50] #306 closed

[2016-04-14 22:23] cassiersg commented on #303
Au niveau "technique", j'ai proposé une implémentation dans #307
J'ai fait une liste de tous les auteurs [dans le wiki](https://github.com/Gp2mv3/Syntheses/wiki/Auteurs-et-license-CC-BY-SA), il y a a 63 à contacter.
Je propose de compléter cette liste et dès que c'est possible, ajouter la license pour chacune des synthèses.

Des commentaires ?

[2016-04-14 22:53] cassiersg commented on #303
BOOKMARK: Au passage, j'ai trouvé 4 documents qui utilisent le vieux système `lib.tex`
+ q3/physique/summary
+ q4/chimieorga
+ q4/cindy
+ q4/ELEC1370
A adpater pour pouvoir mettre la license.

[2016-04-15 12:49] fthuin commented on #303
Il y a un doublon dans les auteurs entre "Nicolas Kabasele" et "Kabasele Ndonda Gorby Nicolas".

[2016-04-15 17:30] blegat commented on #303
@cmomin @Gp2mv3 @Nhoutain @pverbist95 @alokhan @gejacquet @FHachez savez-vous marquer [ici](https://github.com/Gp2mv3/Syntheses/wiki/Auteurs-et-license-CC-BY-SA) votre accord (ou votre désaccord) pour mettre les synthèses à laquelles vous avez contribué sous licence CC-BY-SA ?

[2016-05-18 14:58] Derwaan opened #309 "LELEC1930 Points manquants"
Pour le cours de «LELEC1930 - Introduction aux télécommunications» , voici les points manquants dans la synthèse actuellement :

| Chapitres manquants            | Statut      |
| ------------------------------------ |-------------|
| Powerline Communication     | **TODO** |
| LTE (4G)                               | **TODO**  |

Autres manques (définitions, schémas, ...) :

| Points manquants

[2016-05-18 15:02] fthuin commented on #309
Pour le schéma sur l'envoi d'un signal numérique, la figure 17 au point 15.1.4 (page 48) "Décrivez le rôle des différents blocs du schéma de modulation digitale ci dessous." n'est-elle pas suffisante ?

[2016-05-18 15:12] Derwaan commented on #309
@fthuin Elle n'est pas assez complète : elle ne représente pas les symboles complexes en sortie du mapping (parties réelle et complexe) qui vont dans la modulation (sin et cos)
En soi c'est la même mais avec juste la mise en forme et la modulation plus détaillés

[2016-05-18 21:39] bcassiers opened #310 "Organisation du drive (Makefiles)"
Sur le drive, plusieurs dossiers sont créés pour de mêmes cours. Par exemple, dans q2, il y a à la fois "chimie" et "chimie-FSAB1301" et à la fois "elec" et "elec-FSAB1202". Pour Chimie, le summary est séparé de exercises et notes, et pour elec, il y a carrément 2 synthèses différentes. Je ne sais pas si le problème existe dans les autres dossiers.
<img width="762" alt="screen shot 2016-05-18 at 2

[2016-05-19 06:41] ldevillez commented on #310
Hmm ça ne serait pas juste un problème du drive ? Vu que l'on a renommé justement ces dossiers.

[2016-05-19 09:07] blegat commented on #310
C'est ma faute, parfois j'oublie de supprimer les dossiers ;)

[2016-05-19 09:07] #310 closed

[2016-05-19 09:55] blegat commented on #157
Plus que q4 et q6 :)

[2016-05-20 16:25] Feyensv opened #313 "[Proposition] Table des matières dynamiques"
Le parcours des informations dans les synthèses serait grandement simplifié par l'utilisation par défaut du package hyperref.
Je trouve personnellement très utile, surtout pour de grandes synthèses, de pouvoir accéder directement à une section en cliquant dessus dans la table des matières.

[2016-05-20 16:48] anpar commented on #313
Normalement la plupart des synthèses le font déjà, non?

[2016-05-20 17:01] Feyensv commented on #313
My bad, il semblerait que l'ouverture directe sur le google drive ne veuille pas permettre cette fonctionnalité au pdf -_-.
Mais en effet, quand je les télécharge, ça marche ^^.

[2016-05-20 17:01] #313 closed

[2016-05-20 21:18] mcouplet opened #316 "Plus d'options pour le make"
Ce serait bien de pouvoir utiliser d'autres options de `latexmk`, comme le killer feature `-pvc` qui met à jour un `dvi` à chaque fois que le fichier source change :D

[2016-05-22 15:14] blegat commented on #316
Je suis d'accord :) Comment tu imagines implémenter ça ?

[2016-05-22 19:13] mcouplet commented on #316
une option en plus au make ? je l'aurais bien fait moi-même mais je ne comprends pas tout dans le `root.mk` donc je laisse faire ceux qui l'ont écrit :)

[2016-05-22 19:34] blegat commented on #316
Comment veux-tu que l'utilisateur spécifie les options ? On lui demander de modifier des variables dans ` root.mk` ? Ou on fait d'autre build rules genre `make pvc` ?

[2016-05-22 20:21] mcouplet commented on #316
Oui faire un build rule c'est ce que je voulais dire :P

[2016-06-01 10:04] blegat commented on #157
q6 done :tada:

[2016-06-01 10:07] blegat opened #319 "Fix AnalysesQuantitatives"
@Nhoutain in `q6/AnalysesQuantitatives` it's still a mess, can you make something of it ?

[2016-06-09 09:17] fthuin opened #322 "dropbox : telecom-ELEC1930"
Dans `q6/telecom-ELEC1930/` il y a une ancienne version d'une synthèse (env 2ans), la version up-to-date est dans `/summary/`

[2016-06-09 09:46] blegat commented on #322
Juste, c'est corrigé merci :)

[2016-06-09 09:46] #322 closed

[2016-12-27 20:08] blegat commented on #319
@Nhoutain up :)

[2016-12-28 16:47] NVanvyve opened #348 "INGI1341 - Sécurité"
Ajout d'une partie concernant la sécurité dans le cours de Réseaux
Une autre partie à été délaissé pour cela (je ne sais plus la quelle)
Voici les slides de 2016 : [4-transport-security.pdf](https://github.com/Gp2mv3/Syntheses/files/675892/4-transport-security.pdf)

[2017-01-17 13:37] blegat opened #358 "Contribution with ShareLaTeX"
ShareLaTeX now has Github support. It would be nice to add to the documentation how to do Pull Requests from ShareLaTeX, it would remove the technical barrier to new contributions.

[2017-01-17 13:51] fthuin commented on #358
Will it be free? Because €14/month to avoid using git commands seems too expensive

![selection_091](https://cloud.githubusercontent.com/assets/7595324/22022754/9bf65c88-dcc3-11e6-9a27-ca96af2efe14.png)

![selection_092](https://cloud.githubusercontent.com/assets/7595324/22022930/4fc4e9f0-dcc4-11e6-8ac9-b165cb88d1de.png)

[2017-01-17 14:34] blegat commented on #358
Ah zut :( Maybe the user can clone the project on their ShareLaTeX and do pull request from it without the need of our project to be on ShareLaTeX ? I have no idea what is the policy but Martin Braquet is trying to make a PR from ShareLaTeX, we'll see if he succeeds :)

[2017-01-17 22:48] MartinBraquet commented on #358
Effectivement, le partage direct via ShareLatex semble payant (mais une synchronisation avec Dropbox est possible). Je ne comptais pas synchroniser Sharelatex et Github mais simplement écrire les fichiers en .tex via Sharelatex (qui permet une visualisation très rapide du document). Je les télécharge ensuite en .tex et les ajoute sur Github. ;)

[2017-01-17 23:22] fthuin commented on #358
Et tu arrives à charger tous les fichiers dessus ? Parce que ce repository est particulièrement gros (+2000 fichiers, +200Mo), l'offre la plus chère d'Overleaf permet max 1000 fichiers et l'offre la plus chère de Papeeria permet max 128Mo.

[2017-01-18 10:49] MartinBraquet commented on #358
Pas sur Sharelatex puisque je ne suis pas premium...

[2017-01-22 11:38] blegat commented on #157
FIXED !!! :) Only remaining one is covered by #319 @Nhoutain

[2017-01-22 11:38] #157 closed

[2017-01-24 15:33] ldevillez commented on #358
Même si on a parrainer suffisamment de personnes on a pas accès à l'option de github. Et j'ai testé d'upload tous les fichiers des synthèses epl et il refuse à partir d'un moment (mais peut être qu'en premium la limite est plus loin)

[2017-02-23 22:53] Jimvy opened #372 "Warning "Token not allowed in a PDF string" dans \hypertitle"
Warning de compilation pour de nombreux documents (en tout cas, tous ceux que j'ai testé, info-q1-exam-2011-juin, math-q1-summary, chimie1-exercices et un nouvel examen que je suis en train de rajouter, mais il n'est pas dans meca-q1-notes).
Il est indiqué dans les logs comme ayant lieu au niveau du paramètre "professeurs" dans la commande \hypertitle, ou, si on a spécifié le texte optionnel entre

[2017-02-23 23:11] blegat commented on #372
Je pense que c'est dû aux agents dans les noms :-P

[2017-02-23 23:12] blegat commented on #372
Je vois pas trop comment éviter le warning :-(

[2017-02-24 17:31] blegat opened #373 "Add support for test in add.sh"

[2017-05-29 11:35] locolin opened #385 "Synthèse LELEC1370 tableau LaTeX"
J'ai refais le tableau des quadripôles qui avait été fait à la main.

[circuit.txt](https://github.com/Gp2mv3/Syntheses/files/1035687/circuit.txt)
[circuit.pdf](https://github.com/Gp2mv3/Syntheses/files/1035686/circuit.pdf)

[2017-05-29 12:39] ldevillez commented on #385
Fixed by #382 i think

[2017-07-07 11:04] pgonzalezalv commented on #358
Une autre piste sinon (cf. la FAQ en bas de page) : https://www.overleaf.com/blog/195-new-collaborate-online-and-offline-with-overleaf-and-git-beta

[2017-07-17 22:56] Jimvy opened #396 "Numéro de lignes de lstlisting à gauche de la ligne grise de l'environnement solution"
Il y a un petit bug visuel lorsqu'on utilise l'environnement ``lstlisting`` au sein de l'environnement ``solution`` : les chiffres sont à gauche (au lieu d'à droite) de la barre grise du cadre de solution, ce qui fait que le listing n'est pas "entièrement" dans le bloc de ``solution``. C'est plus un problème d'ordre visuel qu'un problème de code.
Vraisemblablement, pour corriger cela, il faudrait

[2017-12-11 11:03] Jimvy opened #410 "Duplicate code in info q3 exercises"
The folders "exercice2/" and "Mooc/" only differ by a few files,
exercises2/DDT2.oz Mooc/DDT2.oz : le deuxième est plus concis et plus propre
exercises2/DDT3.oz Mooc/DDT3.oz : un choix entre une ou deux lignes
Only in Mooc/: Ex mooc.tex
Only in exercises2/: info-FSAB1402-exercises.tex
The two files differ in spaces and the use of backticks. Mooc is maybe more correct.
exercises2/JMIE2.oz Mooc/JMIE

[2017-12-26 22:24] Jimvy opened #412 "Math 3 examen août 2017 : typo et raisonnement bizarre"
Question 2, point 2, lors de la solution pour Theta, après la séparation des variables, il est indiqué que seul le cas $+k^2$ donne une solution correcte. C'est l'opposé.
Autre soucis, il faudrait que le $\alpha$ passe au dénominateur du premier membre. Ca évite de se trainer une racine par la suite, et c'est la manière générale dont l'équation est résolue dans le cours.
J'ai la flemme de faire un

[2017-12-27 09:44] MartinBraquet commented on #412
Pour le k^2, je l'avais déjà fait sur mon fork. :)

[2017-12-30 12:01] Jimvy commented on #412
Fixed by #eb6a527e

[2017-12-30 12:01] #412 closed

[2018-01-04 11:24] jeertmans opened #417 "Contradiction - Examen math 3 août 2015 MB"
Bonjour,

Je pense qu'il y a une contradiction dans la solution de l'examen d'août 2015 de Martin Braquet.

Il est spécifié au débit de l'exercice 1 que le problème doit être résolu en dehors d'un 3/4 de cercle, puis, plus bas, nous émettons l'hypothèse que la solution doit être continue en r = 0. Or, en se référençant à la page 97 du syllabus d'EDP, la condition à appliquer ne serait pas plutôt q

[2018-01-04 12:20] MartinBraquet commented on #417
En fait, je résouds à l'intérieur du cercle, je vais le changer sur le drive. :)

[2018-01-04 12:23] MartinBraquet commented on #417
Si il reste néanmoins quelque chose d'érroné dans ma résolution à l'intérieur du cercle, fais en part. =)

[2018-01-04 12:36] jeertmans commented on #417
D'accord, merci pour la rapidité !

Oui en fait je trouve ça bizarre car tu dis que la solution R(r) est de la forme C*(r/a)^k + D*(r/a)^(-k), mais la solution fournie par le professeur, et qui est la même dans les autres examens et exercices, est juste C*(r)^k + D*(r)^(-k). Bon au final les deux sont bonnes car il suffit d'adapter les constantes C et D en fonction du cas, mais je ne voyais pas tr

[2018-01-04 13:25] Jimvy commented on #417
C'était la PR #400 qui n'avait pas été appliquée au Drive. Pour le moment, le OneDrive ne se met pas à jour automatiquement, et il faut remplacer les documents manuellement. Quand j'aurai un peu de temps je regarderai s'il y a moyen de mettre à jour smartcpy pour gérer un dossier OneDrive stocké en ligne.
Pour ton autre question, oui il fait ça pour que la solution trouvée ait des termes adimensio

[2018-01-04 13:27] Jimvy commented on #417
Fixed by #35645dfe du coup ?

[2018-01-04 13:40] jeertmans commented on #417
D'accord merci :)

[2018-01-04 13:53] MartinBraquet commented on #417
@Jimvy , non c'est l'inverse, j'avais mis initiallement "à l'intérieur" et puis j'ai changé il y a qqs mois après ton message me disant que c'était peut être mauvais et qu'il fallait mettre "à l'extérieur" , ce que j'ai fait ds le PR#400. Mais je pense que ma résolution est correcte pour "l'intérieur" et donc que je n'aurais pas du changer (avec la PR#400). :)

[2018-01-04 16:19] Jimvy commented on #417
Dans ce cas je n'ai rien pigé à l'affaire alors. Dans la PR 400, le mot "extérieur" est remplacé par "intérieur", et le reste de la résolution considère des conditions pour l'intérieur. A moins que tu parles d'un autre message ? Flemme de farfouiller dans mon historique fb.
Mais bon, le plus important c'est que ce soit corrigé.

[2018-01-04 17:04] MartinBraquet commented on #417
Ah oui! Je me suis bien embrouillé, maintenant c'est correct à mon avis.

[2018-01-13 21:05] jeangillain opened #421 "Examen chimie(Q3) électrolyse de l'eau"
Bonjour, je fais mes débuts sur github, je ne sais vraiment pas comment ça marche mais voilà, je pense avoir remarqué une erreur dans l'erreur dans le correctif pour partie de l'électrolyse.
à l'anode on a bien Ean=1.23+RT/zF*ln([H^+]^4) et cathode E=0+RT/zF*ln([H^+]^4), on a donc E_cell=E_cath-E_an=0-1.23 +RT/zF*ln([H^+]^4/[H^+]^4)=-1.23+0( ça dépend pas de la concentration en H^+ et donc pas du

[2018-01-13 21:05] jeangillain commented on #421
![capture d ecran 14](https://user-images.githubusercontent.com/35408168/34910051-d5d6631a-f8ad-11e7-87f7-f27740583828.png)

[2018-01-14 09:59] MartinBraquet commented on #421
Bienvenue !
Une étudiante vient d'épingler ce problème sur le groupe facebook de ce cours, il doit donc s'agir d'une erreur dans le corrctif.
Je te laisse corriger le code source?

[2018-01-24 16:24] Peiffap opened #424 "Liens vers Drive EPL"
Il me semble que les liens dans le README sont encore les anciens liens, avant le passage à Office 365. Il faudrait peut-être les changer, comme l'ancien drive n'est plus mis à jour (je crois).

[2018-01-24 17:09] blegat commented on #424
En effet ! Quel est le nouveau lien ?

[2018-01-24 17:12] MartinBraquet commented on #424
https://uclouvain-my.sharepoint.com/:f:/g/personal/pverbist_oasis_uclouvain_be/ElZP_ep3eAtMsNkXcBLj0vYB7CZpoJ-UzQu7pzHV6xGMYw :)

[2018-01-26 12:43] Peiffap commented on #424
Je pense que tu as oublié quelques autres liens (notamment vers le pdf how-to-contribute) :/

[2018-01-26 15:29] Peiffap opened #426 "Compilation de fichiers"
Bonjour!

J'avais une petite question quant à l'utilisation de TexMaker pour visualiser les pdfs des synthèses/exams/... Je viens d'installer MacTex et TexMaker sur mon ordi, et j'ai aussi la version desktop de GitHub si ça sert à quelque chose, mais je ne vois pas comment faire pour pouvoir "compiler l'entièreté du projet", ni même comment accéder au repo GitHub dans TexMaker pour interagir avec

[2018-01-26 16:46] MartinBraquet commented on #421
@Peiffap , il me semble que tu es en bac 2, serais-tu d'accord de corriger (si il y a bien une erreur) cette question? J'avoue que les réactions redox, ce n'est plus trop dans ma mémoire...

[2018-01-26 16:53] MartinBraquet commented on #426
Il me semble qu'il faut les mettre manuellement sur onedrive, en compilant les fichiers un à un.
Maintenant que les étudiants ont un peu plus de temps, je serais vraiment intéressé à trouver un moyen pour synchroniser le onedrive avec github. Certains parlaient de smartcp non? Je ne suis pas ultra doué en info mais je veux bien coder ou me renseigner pour le faire. A ce niveau, ça devient vraiment

[2018-01-26 16:57] Peiffap commented on #426
Mais alors comment est-ce que ça se fait que les commandes personnalisées (par exemple, l'environnement de solutions) sont connus? Il semble peu probable que quelqu'un ait manuellement copié et compilé la bonne centaine (au moins!) de fichiers sur ce repo.

[2018-01-26 17:00] Peiffap commented on #421
Je suis bien en bac 2, j'y jetterai un oeil ;)

[2018-01-26 17:38] Jimvy commented on #426
Je ne comprends pas trop ta question. En haut des fichiers, tu as des \usepackage et autres qui réfèrent vers les fichiers situés à la racine du repo, ce qui permet d'utiliser ces environnements personnalisés. Une compilation traditionnelle dans TeXstudio (ou autres, mais perso j'utilise celui-là ;) ) permet d'obtenir le PDF final, qu'il faut encore renommer, et uploader à la main (pour le moment)

[2018-01-26 18:46] Peiffap commented on #426
Je pense que smartcpy (si je comprends bien ce que ça fait) peut rendre contribuer plus facile, surtout pour les _noobs_ comme moi ;).

Le problème que j'ai, c'est que bien qu'il y ait des usepackage en haut des fichiers, lorsque je lance TexMaker sur mon pc, il ne les connaît pas (eplunits par exemple). Lorsque tu dis "compilation traditionnelle", j'imagine que tu ne copies pas manuellement tous

[2018-01-26 21:48] VanStratum commented on #426
As-tu bien cloné le dépôt github? Les documents emploient des packages personalisés pour mettre les pages d'introduction et autre.

[2018-01-26 21:48] Jimvy commented on #426
En effet, smartcpy rendrait tout plus facile. Sur Unix/GNU+Linux/macOS.
En effet, TeXmaker (et TeXstudio aussi) ne proposent pas la complétion automatique pour des packages qui ne sont pas dans le dossier courant, c'est une limitation pour le moment (peut-être qu'il y a moyen d'aider le dev à faire ça).
Généralement, si tu mets à jour un document, tu sais le retrouver par la suite pour l'uploader.

[2018-01-27 10:58] MartinBraquet commented on #417
Fixed  =)

[2018-02-04 09:31] blegat commented on #426
Pour mettre à jour tous les `pdf`, il suffit de faire `make release` à la racine du repo. [`smartcp`](https://github.com/blegat/smartcp/) va alors essayer toutes les combinaisons d'`arguments` dans `src/config.yml`. Pour les combinaisons qui font un chemin vers un fichier `pdf` existant, ça va le copier dans OneDrive en transformant le nom du pdf comme spécifié dans `config.yml`. Le soucis pour le

[2018-02-04 09:37] MartinBraquet commented on #426
C'est très lent de faire toutes les combinaisons, pourquoi ne trouve-t-il pas tous les fichiers .tex du repo? Avec la liste des fichiers .tex, il pourrait ensuite les compiler et mettre le pdf au bon endroit? :)

[2018-02-04 09:45] #372 closed

[2018-02-04 09:45] #373 closed

[2018-02-04 09:51] blegat commented on #426
Il pourrait aller parcourir tous le dossier et essayer d'extraire les arguments à partir des noms des `pdf`s qu'il trouve mais ce n'est pas vraiment comme ça qu'est conçut `smartcp` :-P

[2018-02-04 09:54] Jimvy opened #429 "Amélioration et correction de clean dans root.mk"
J'ai trouvé un "bug" potentiel dans le root.mk, et je ne sais pas trop comment le résoudre (mes connaissances de latexmk et des Makefile sont très récentes) :
Actuellement, il y a une règle make clean qui exécute `latexmk -C`, ce qui permet de supprimer tous les fichiers générés par le programme, y compris les PDF. Sauf que parfois, on veut juste supprimer les .aux et .log intempestifs. J'ai donc

[2018-02-05 19:16] #410 closed

[2018-02-05 20:25] jy95 commented on #426
@blegat Question performance, ce que j'ai essayé de faire dans mon builder (@MartinBraquet en a fait un fork : https://github.com/MartinBraquet/Syntheses-PDF-Builder/blob/master/master_script.py ), c'est de procéder de la manière suivante :

1. Création d'un dictionnaire des arguments (fonction `build_dictionary`) (y a sans doute moyen d'automatiser un peu sa création)
2. Trouver tous les tex qui

[2018-02-06 08:40] blegat commented on #426
@jy95 Ça m'étonnerait pas que ton script soit plus efficace pour compiler release tout le repo :)

[2018-02-06 09:36] Jimvy commented on #426
En tapant `grep -Rin "onedrive" .` je n'en trouve aucune référence. Et malheureusement, il est nécessaire d'utiliser l'API de Microsoft, étant donné qu'on ne peut pas obtenir le dossier OneDrive en local.

[2018-02-06 14:02] blegat commented on #426
Une solution pourrait être de faire `make release` dans chaque répertoire trouvé à l'étape 2. par `find_latex_files` lors de l'étape 5. Il suffit de régler https://github.com/blegat/smartcp/issues/2

[2018-02-20 16:02] AurelienBoland opened #432 "Synthèse LELEC1310"
P16 eq33 c'est P=RI^2 et non P=R^2I^2

[2018-02-20 16:33] blegat commented on #432
cc @anpar @cassiersg

[2018-02-20 16:35] cassiersg commented on #432
à priori ça semble logique... @AurelienBoland tu peux ouvrir une pull request ?

[2018-02-20 16:41] AurelienBoland commented on #432
J'ai jamais trop utilisé github ça te dérange si je te laisse le faire ?

[2018-03-05 09:49] GauthierRotsart opened #434 "interro mars 2017 elec1370"
Bonjour, je suis nouveau sur Github et je ne comprends pas très bien comment modifier un document. En effet, il me semble que dans le document "Interro 2017 Elec 1370", la source de tension est "branchée à l'envers". De plus, quelques fautes d'orthographe seraient à corriger. Comment peut-on changer cela?:)
Gauthier

[2018-03-05 09:53] blegat commented on #434
Bonjour,
@fthuin a fait une explication [ici](https://drive.google.com/file/d/0B1axlYz3_XXKRzdGVWdGdUZ6UGs/view). Dis-nous si ça aide :)

[2018-03-05 10:19] ldevillez commented on #434
La source est dans le "bon" sens sur git mais pas sur le sharepoint j'ai l'impression. Est ce que tu aurais l'énoncé de la question ? :)

[2018-03-05 10:37] GauthierRotsart commented on #434
![capture2](https://user-images.githubusercontent.com/36813088/36970548-463f1826-2069-11e8-8b0e-251aa99b226e.PNG)
Merci, oui ca m'aide!:)
Je ne sais pas si la photo va s'afficher, mais apparemment, ce serait l'enoncé de l'interro de l'année passée :)

[2018-03-05 10:38] GauthierRotsart commented on #434
Du coup, la manière dont la source de tension est mise sur le document du drive est inversée et donc, tous les calculs ne correspondent pas du tout au circuit :)

[2018-03-05 13:10] MartinBraquet commented on #434
Je l'ai mis à jour sur le drive.
C'est normal vu que la synchro github-drive ne se fait plus depuis 1 an maintenant...

[2018-05-20 11:53] #432 closed

[2018-05-25 13:33] Jimvy opened #443 "q6/mcp/summary-2017 ne compile pas"
De manière assez logique, le fait que le fichier se trouve dans un sous-répertoire fait que le chemin "../../../eplsummary" n'est pas correct. Et le changer pour "../../../../eplsummary" ne corrige pas le problème, car LaTeX n'est alors pas capable de trouver le fichier "../../../eplbase"... vu qu'il ne suit pas la logique d'un chemin relatif.

[2018-05-26 08:31] constdesch opened #444 "Synthèse LFSAB1106 Signaux et Systèmes ERREUR"
Bonjour,
Il y a une erreur dans la synthèse de signaux et systèmes p.11 4.2 Propriétés de la région de convergence, les signes pour signal de support fini à gauche et à droite sont inversés.
<img width="444" alt="capture d ecran 2018-05-26 a 10 30 28" src="https://user-images.githubusercontent.com/35048484/40574317-e17cadf2-60cf-11e8-872a-ad572cd95442.png">
<img width="1069" alt="capture d ecran 2

[2018-05-27 15:10] Jimvy opened #445 "Faute de français dans la synthèse d'autolin"
Section 4, "Root Locus", "On appelle 'Root Locus' la location des racines du polynôme caractéristique". En français ça s'appelle la position, ou à la limite la localisation si c'était une synthèse de géographie ;)

[2018-05-27 15:16] Jimvy commented on #445
Dans la même veine, "Figure 5 - Zônes...". C'est bô.

[2018-05-27 18:12] #445 closed

[2018-05-27 18:12] blegat commented on #445
Merci :)

[2018-05-29 15:34] Jimvy opened #449 "[Feature request] Suggestions d'informations complémentaires dans hypertitle"
Depuis pas mal de temps je me dis qu'il serait bien pratique d'ajouter quelques features dans les titres des synthèses, comme :
- Indiquer l'ID du commit lors de la compilation du document. En effet, la date n'est pas une indication suffisante de la version du code source utilisée pour le compiler, ça donne surtout une idée. Le problème est de plus en plus criant depuis que le OneDrive n'est plus

[2018-05-29 19:48] Jimvy commented on #449
Dans ma tête, le commit sur lequel on compile (le dernier commit à avoir touché aux sources pourrait également être fait, en chipotant un peu avec les commandes git). Mon idée c'est que lorsque quelqu'un compile le PDF, on récupère l'ID du commit, comme ça s'il recompile le PDF deux jours plus tard, on verra que rien n'a en théorie changé, seule la date. Et on peut imaginer que ce soient des ID de

[2018-05-29 20:29] ldevillez commented on #449
On pourrait rajouter un fichier dans le repo qui ferait la correspodance entre synthèse et numéro de commit:
- Quand on compile une synthèse on va chercher le numéro de commit

Et puis trouver un moyen d'avoir les numéros de commit à jour avec un git hook ou bien une commande dans le makefile. Après il faudrait se renseigner sur la réalisation.

[2018-05-30 08:28] jdewasseige opened #450 "Conflict between mdframed and amsthm in eplqa.sty"
While compiling info. theory exams, I got the following error from `eplqa.sty`(line 15), a conflict between `mdframed` and `amsthm`. It does not seem to have a well-defined solution, as those proposed often redefining styles in `amsthm`. Any idea how to solve it?

[code]

[2018-05-30 12:06] #450 closed

[2018-06-02 12:02] VanStratum commented on #449
Si le lien pointe vers
https://github.com/Gp2mv3/Syntheses/commit/<id_commit> , github sera
capable d’aller chercher dans les forks du dépôt. Par contre il ne dit
pas explicitement que le commit ne se trouve pas sur le dépôt d’origine.

[2018-06-02 17:37] Peiffap opened #456 "Duplicata dossier SINF1252"
Y a-t-il une raison d'avoir deux fois un dossier pour le cours de Systèmes Informatiques?

[2018-06-02 17:39] Peiffap opened #457 "Exos INMA1702"
Les corrigés des exos d'opti sont pour l'instant dans un reportage séparé de celui-ci (Il y a encore 2 autres cours qui sont dans le même cas je crois). Il me semble qu'il serait judicieux de les rajouter sur ce repo-ci afin de garder tout en un seul et même endroit non?

[2018-06-02 17:42] Jimvy commented on #456
Aucune ; c'est une erreur de Hyedryn. Le bon dossier est le dossier "os-SINF1252", malgré que tout le monde l'appelle sysinf ou systinfo.

[2018-06-02 18:10] Hyedryn commented on #456
Oups ...

[2018-06-02 20:47] blegat commented on #457
Pour opti, ça a un statut particulier parce que c'est les exercices et solutions officielles, c'est pourquoi c'est dans un repo du groupe [UCL-INMA](https://github.com/UCL-INMA/LINMA1702-exercices)

[2018-06-02 21:34] Jimvy opened #460 "Gros accident d'historique"
Les commits 0fa1773fbcbc181cfb0edf03578f88604b8c624e et 3fd8dca8e9f8c140447656d26550f36a639d8e5c ont provoqué un joli bazar dans l'historique des fichiers : tous les fichiers des dossiers q1 à q8 ont été renommés temporairement avec le "src/" qui a disparu, ce qui fait que dans les logs, tous les fichiers apparaissent comme ayant été pour la dernière fois modifiés par Hyedryn.
C'est particulièreme

[2018-06-03 07:47] blegat commented on #460
J'ai fait un rebase pour supprimer les commits, ça devrait avoir résolule soucis. Dis moi si ce n'est pas le cas :)

[2018-06-03 07:55] blegat commented on #460
Si vous aviez fait un pull récemment, ça risque d'un peu tout casser chez vous
Pour vous en sortir, faites
/!\ ça supprime les commits de `master` qui ne sont pas sur origin/master
[code]

[2018-06-03 09:04] Jimvy commented on #460
Wow, c'est remonté assez loin ^^ il y avait juste les commits à partir de "Merge pull request #452 from Hyedryn/master" non compris qui étaient downstream des deux commits qui ont un peu mis les choses sales.

[2018-06-03 09:18] blegat commented on #460
Oui j'ai juste demandé à `git rebase` de dropper ces deux commit mais il a détecté des mauvais merge qu'il a voulu éditer aussi

[2018-06-03 09:45] Jimvy commented on #460
C'est un comportement bien étrange ça.

[2018-06-03 21:05] Peiffap commented on #457
Et du coup c'est encore entretenu ce repo? Il me semble que plus rien n'y a été commit depuis quelques années.

[2018-06-05 17:38] Jimvy commented on #460
Je me faisais la réflexion suivante :
Actuellement, il y a à peu près une demi-douzaine de personnes qui doivent avoir mis à jour leur repo, en local au moins, avec la version rebase de master : Hyedryn, Peiffap, jdewasseige, Thothore, blegat et moi-même. Il y en a peut-être plus qui ne sont simplement pas actifs ces derniers temps, mais probablement pas plus qu'un facteur 2.
Il y a par contre bie

[2018-06-05 18:49] Peiffap commented on #460
En soi je pense que pour la très grande majorité des gens qui ne sont pas à jour avec ce repo-ci pour l'instant n'ont pas beaucoup de changements par rapport à celui-ci. Il serait relativement facile pour eux de delete puis reclone le repo, éventuellement en sauvegardant dans un (ou des) fichier(s) différent(s) les documents dans lesquels ils ont apportés des changements, si il y en a. C'est ce qu

[2018-06-05 18:55] #457 closed

[2018-06-05 18:56] #424 closed

[2018-06-05 19:21] blegat commented on #460
@Jimvy merci ! J'ai pushé ta branche :)

[2018-06-07 16:29] #460 closed

[2018-06-08 11:21] Peiffap commented on #426
Est-ce que le fait que Microsoft est maintenant "propriétaire" de GitHub pourrait aider à la résolution du problème de la mise à jour automatique?

[2018-06-08 12:41] blegat commented on #426
Je ne pense pas que ça va aider :)

[2018-06-08 15:37] Jimvy commented on #426
A propos : j'ai potentiellement trouvé un moyen de rendre la mise à jour automatique si on est sous Windows 10 (aucune idée si ça peut marcher pour macOS ou GNU+Linux) :
Il est possible de synchroniser en local un dossier partagé si on dispose du client OneDrive officiel : cela passe par l'option "Synchronisation" du site en ligne, qui permet alors d'ouvrir le lien dans OneDrive et donc de télécha

[2018-06-08 17:07] Hyedryn commented on #426
Personnellement j'utilise déjà ça pour accéder au drive en lecture seul.

Le risque est que si une mauvaise manipulation est effectuée sur le pc de l'utilisateur, ça supprime également tout le contenu du drive.
J'ai déjà une fois à cause d'une fausse manip supprimé quelques (très gros) dossiers de mon drive ucl sur mon pc et ils ont simultanément été supprimé dans le cloud.
Malheureusement, je n'a

[2018-06-08 20:02] jy95 commented on #426
Le problème que j'identifie dans vos conversation est surtout la synchronisation avec les fichiers.

Faut bien reconnaître que Micro$oft a bien fait son travail pour rendre l'API très sale à utiliser pour ce cas de figure (pour ceux qui voudraient s'amuser à la lire : [API ](https://docs.microsoft.com/en-us/onedrive/developer/rest-api/resources/driveitem) ).

Le moyen le plus simple serait de disp

[2018-06-08 20:39] Jimvy commented on #426
Faire un repository de fichiers PDF... Euh, comment dire... Tu oses critiquer l'API de Microsoft de sale ? :p

[2018-06-08 20:49] jy95 commented on #426
Franchement oui :) Et j'ai pas besoin d'aller chercher bien loin leur aveux de faiblesse : https://docs.microsoft.com/en-us/teamblog/a-new-feedback-system-is-coming-to-docs

[2018-06-09 09:57] MrGuim opened #466 "[ECGE1315] - Duplica de synthèse"
Hello,

J'ai fait une synthèse pour le cours de Stratégie d'entreprise ECGE1315. D'une part parce que la structure de la synthèse déjà présente ne me convenait pas du tout (Je trouve qu'il y a un manque de cohérence) et que le cours a beaucoup évolué. Néanmoins, je ne sais pas comment poster ma synthèse. Quelle est la meilleure solution pour que les deux synthèses puissent coexister ? Si il y a en

[2018-06-09 10:08] fthuin commented on #466
@MrGuim Si ta synthèse est plus à jour et (aussi|plus) complète que celle publiée ici (par moi), remplace celle qui existe. Pour la clarté du repo, il vaut mieux privilégier les nouveaux contenus à partir du moment où ils sont au moins aussi qualitatif/quantitatif.

[2018-06-09 10:20] MrGuim commented on #466
@fthuin Sûr ? Parce que je ne veux pas que ton travail soit laissé de côté. De plus, il y a des points que je ne reprends pas comme, par exemple, une partie avec la définition de plusieurs concepts dans une même section. Ma synthèse comporte également moins de schémas (e.g. l'horloge de Bowman) qui peuvent parfois facilité la compréhension de certains points de théorie. Les points de vue que nous

[2018-06-09 10:28] MrGuim commented on #466
Je le note en commentaire ?

[2018-06-09 10:36] VanStratum commented on #466
Plutôt comme un petit note dans le début du document je dirais, du style
\section*{Note}
    lorem ipsum dolor...

[2018-06-09 11:00] MrGuim commented on #466
Done.

[2018-06-09 11:00] #466 closed

[2018-06-11 19:53] MartinBraquet opened #468 "Pas de numéro dans les titres"
Je suis sur KILE et il ne m'affiche pas les numéros des sections et sous-sections dans le pdf quand je suis sur ce fork. Quelqu'un sait pourquoi? Ce serait un package qui pose problème avec ma version?
![screenshot from 2018-06-11 21-51-45](https://user-images.githubusercontent.com/25173236/41253833-d9cd32c6-6dc1-11e8-9e0c-d112667c451f.png)

[2018-06-13 17:49] Jimvy commented on #468
Tu as su trouvé une solution ou le problème est toujours présent ?
Selon moi, ça a peu de chance d'être dû à Kile. Regarde si tu as le même soucis dans un autre lecteur PDF, et regarde, en compilant à la main (via make ou via latexmk suivi de toutes ses options) s'il se plaint de l'absence d'un package.
C'est quel fichier ?

[2018-06-13 17:56] MartinBraquet commented on #468
J'ai ce problème depuis toujours sur Linux, alors que ça fonctionne sur TexMaker sous Windows.
J'ai tapé
 `pdflatex mft-MECA1321-exam-2017-Juin-Maj.tex`
mais ça ne va pas non plus, j'ai l'impression que c'est dû aux packages dans ce fork vu que ça fonctionne si je fais un document classique.

[2018-06-13 18:51] blegat commented on #468
Le warning n'est pas important, c'est juste que le nom du package ne correspond pas au chemin. Pour que ça corresponde il faudrait faire un lien symbolique dans le dossier de chaque synthèses/exam/... pour chaque package utilisé...

[2018-06-13 19:50] MartinBraquet commented on #468
Pourquoi ça ne correspond pas alors qu'on met des ../ ? =)
Et il n'y a pas moyen de les mettre ces liens symboliques (je préfèrerais n'avoir que des avertissements dûs à ce que j'ai écrit dans mon document) ?

[2018-06-13 20:06] fthuin commented on #468
Quelle version de texlive tu utilises? Par défaut sous Ubuntu il me semble que c'est 2015. Je me rappelle avoir eu cette erreur à un moment à cause d'un package trop vieux, tu pourrais essayer la [version 2016](http://tipsonubuntu.com/2016/09/16/install-tex-live-2016-ubuntu-16-04-14-04/)

[2018-06-13 21:04] Jimvy commented on #468
Pour le warning des chemins, c'est parce que LaTeX reste LaTeX : un logiciel conçu dans les années 80 basé sur un autre logiciel conçu dans les années 70, et qui n'avait pas la prétention de gérer les différents cas d'utilisation modernes du système.
Pour les liens symboliques : ça ne marcherait pas sous Windows. Du coup, avoir quelques warnings qui sont de toutes façons toujours les mêmes ne pose

[2018-06-17 07:34] #421 closed

[2018-06-17 07:34] #444 closed

[2018-06-17 12:14] Hyedryn commented on #468
J'ai eu le même problème avec Textlive 2015 sous ubuntu.
Ceci [https://tex.stackexchange.com/questions/299969/titlesec-loss-of-section-numbering-with-the-new-update-2016-03-15](url) m'a permis de résoudre le souci.

[2018-06-17 21:48] Peiffap opened #473 "Traduction de "formulaire""
Comme mentionné dans la PR #463, la traduction du mot "formulaire" en anglais n'est pas immédiate. Voice un petit résumé des possibilités, dites ce qui vous semble le mieux :

- Cheat sheet

- Reference card

- List of formulas/formulae (et lequel des deux du coup)

- Formulary

- List of equations

- Handbook

- ...

[2018-06-19 08:44] anpar commented on #473
Cheat sheet

[2018-06-19 10:18] blegat commented on #473
I am also in favor Cheatsheet

[2018-06-19 13:02] MartinBraquet commented on #468
Le soucis est résolu, merci :).

[2018-06-19 13:03] #468 closed

[2018-06-21 18:31] #473 closed

[2018-07-06 20:20] MartinBraquet opened #485 "french ou frenchb ?"
Dans `eplbase.cls`, on utilise `frenchb` et cela me renvoie un warning car ce package est "deprecated". Ce warning disparait en utilsant `french` à la place, on peut le remplacer par `french`?

[2018-07-08 09:49] blegat commented on #485
Oui, il faudrait replacer `frenchb` par `french`

[2018-07-08 10:09] MartinBraquet commented on #485
OK, je le push :+1:

[2018-07-08 11:01] #485 closed

[2018-07-13 08:31] MartinBraquet commented on #443
Moi je garderais uniquement la plus à jour, au pire on peut mettre l'ancienne dans ce sous-dossier (donc elle ne se compilera pas) et on met la nouvelle dans le dossier principal pour qu'elle compile.

[2018-07-13 08:33] MartinBraquet commented on #434
@GauthierRotsart , on peut fermer l'issue?

[2018-07-13 08:44] MartinBraquet commented on #429
J'ai changé root.mk, Makefile dans Syntheses, et j'ai créé un script python pour compiler et déplacer dans l'EPL-Drive tous (ou uniquement ceux out-of-date, au choix) les fichiers .tex. On peut en discuter si tu veux pour tenir compte de tes améliorations. Personnellement, ça ne me dérange pas de laisser tous les pdf, donc je ne fais que le cleanaux. Mais on peut réfléchir à un moyen de supprimer

[2018-07-13 08:49] MartinBraquet commented on #417
@jeertmans , on peut fermer l'issue?

[2018-07-13 08:51] MartinBraquet commented on #385
@locolin , on peut fermer l'issue?

[2018-07-13 08:58] MartinBraquet commented on #348
@NVanvyve , je l'ai mis sur le drive, on peut fermer l'issue?

[2018-07-13 09:03] MartinBraquet commented on #319
@blegat , c'est le cours MMETH1322 ? On laisse le dossier `q6/AnalysesQuantitatives` à sa place (peu de gens ont ce cours)?

[2018-07-13 09:10] MartinBraquet commented on #303
Est-ce utile de garder cette issue ouverte?

[2018-07-13 09:21] MartinBraquet commented on #36
Ceux qui ont lu la synthèse récemment (@Peiffap , @Hyedryn , @Thothore , @GauthierRotsart , @MrGuim ,....) vous pensez qu'il manque encore des graphes?

[2018-07-13 10:15] blegat commented on #319
@Nhoutain kind reminder :-P

[2018-07-13 10:16] jeertmans commented on #417
@MartinBraquet oui biensûr

[2018-07-13 10:20] #417 closed

[2018-07-13 10:20] blegat commented on #303
Je pense qu'on peut fermer :)

[2018-07-13 10:20] #303 closed

[2018-07-13 12:22] Jimvy commented on #443
Ca peut se faire comme ça en effet. Mais bon, l'idéal serait de rendre LaTeX un peu plus intelligent (ou un peu moins stupide :p )

[2018-07-13 12:51] MartinBraquet commented on #443
De toute façon, il n'y a pas de makefile dedans et , donc c'est impossible de le compiler comme les autres automatiquement avec Make. Du coup, on peut mettre le nom classique pour la nouvelle et on ajoute `-old`pour l'ancienne en les laissant toutes les deux dans le même dossier pour qu'elles compilent toutes les deux (en sachant que seule la nouvelle sera uploadée sur le drive).

[2018-07-13 14:06] GauthierRotsart commented on #434
oui ;)

[2018-07-13 14:22] MartinBraquet commented on #434
Parfait, je crois que tu sais le faire en cliquant sur un bouton en haut de la page =)

[2018-07-13 16:09] #434 closed

[2018-07-13 20:36] Peiffap commented on #36
La synthèse est vraiment pas hyper complète, ce serait pas mal de contacter la fille qui a upload une nouvelle synthèse sur le Drive (je me souviens plus de son nom) et de mettre la sienne à la place (en plus comme ça elle peut être mise à jour). En plus il me semble qu'elle l'avait faite en LaTeX aussi. Je veux bien regarder à ça quand je rentre de vacances dans 2 semaines 😊.

[2018-07-13 20:37] Peiffap commented on #319
L'espoir fait vivre qu'on dit...

[2018-07-13 20:37] MartinBraquet commented on #36
Celle de 2016 de Eve Leroy?

[2018-07-13 20:39] Peiffap commented on #36
C'est celle-là

[2018-07-13 20:41] MartinBraquet commented on #36
Oui, elle est 3 fois plus longue, quelqu'un serait motivé de faire un mix des 2, pour ne pas perdre des choses intéressantes de celle qui est actuellement sur github?
Pour les synchros sur le drive, tout est à jour maintenant, et je ferai les synchros régulièrement dès que des .tex sont mis à jour sur github ;) .

[2018-07-14 02:52] locolin commented on #385
@MartinBraquet oui :) le tableau avait été refait par qqn d'autre avant moi en fait :)

[2018-07-14 06:03] #385 closed

[2018-07-14 07:35] Peiffap commented on #36
Je veux bien voir si un mix à de l'effet (en espérant pouvoir obtenir le fichier tex de cette synthèse).

[2018-07-14 07:58] MartinBraquet commented on #36
OK, je transmettrai le .tex quand je l'aurai. Si quelqu'un d'autre est partant pour relire ta nouvelle synthèse (ou la faire avec toi), qu'il n'hésite pas !

[2018-07-15 08:25] Peiffap opened #515 "Septembre comme mois"
Dans la PR #510, la possibilité de mettre Septembre est enlevée. Il faudrait alors changer les examens de systinfo q4 pour lesquels le mois indiqué est Septembre. Je suis pas sûr par ailleurs que ce soit un meilleur choix de mettre Août comme le prof les a appelés Septembre 201x A/B sur INGInious... Vous en pensez quoi?

[2018-07-15 08:54] MartinBraquet commented on #515
Tu voudrais quand même garder le choix de mettre Septembre pour d'autres examens?
Pour les exams de systinfos, moi je laisserais comme ça. Vu qu'ils sont les premiers sur le drive, il n'y a que le dossier `201x_Septembre`qui apparait. Par contre, pour d'autres examens qui ont déjà un pdf sur le drive, par exemple les photos des questions, elles sont dans un dossier `201x_Août`, donc ça poserait pr

[2018-07-15 09:10] Peiffap commented on #515
En effet. Ici par contre le problème est que comme add.sh n'a plus l'option Septembre, les fichiers ne compilent plus... Sinon en général oui c'est Août qui est utilisé.

[2018-07-15 09:21] MartinBraquet commented on #515
Pourquoi ils ne compileraient plus?

[2018-07-15 10:46] Jimvy commented on #515
Perso, je suis plutôt favorable à une généralisation de septembre plutôt que août, ce qui permettrait, dans les dossiers du drive, d'avoir les dossiers dans l'ordre chronologique : janvier, puis juin, puis septembre.
Et il suffirait de dire qu'on prend la date des délibérations comme mois de référence, pour ceux qui le demanderaient 😋

[2018-07-15 11:12] MartinBraquet commented on #515
Oui pourquoi pas, mais alors il y a 21 dossiers Août sur github à changer en Septembre ...

[2018-07-15 11:13] blegat commented on #515
Je pense que le choix de Août viens des Tuyaux EPL

[2018-07-15 11:21] blegat commented on #36
Si elles sont dures à fusionner, la plus longue et plus complète peut être mise dans `notes` au lieu de `summary`.
Ou alors on peut faire `summary1` et `summary2` comme pour les formulaires de stat.
Essayer d'avoir une seule synthèse est un bel idéal mais tous le monde a un goût différent et la meilleure synthèse pour quelqu'un n'est pas spécialement la même que la meilleure synthèse pour qqn d'au

[2018-07-15 11:39] Peiffap commented on #515
C'est vrai que de tout mettre en Septembre est une solution élégante... Après si vous aimez plus de mettre tout en Août, c'est bon aussi pour moi mais il me semble que les fichiers systinfo ne compilaient pas à moins d'ajouter un mois au add.sh.

[2018-07-15 11:40] Peiffap commented on #36
L'avis général sur le groupe fb de Bac 2 était que la synthèse courte n'était plus adéquate pour le cours après le changement de profs.

[2018-07-15 11:52] MartinBraquet commented on #515
Le bash n'a rien à voir avec la compilation, il crée juste les templates, sous-dossiers et makefiles =).

[2018-07-15 11:54] MartinBraquet commented on #36
Ok, ça vaut peut-être la peine de la refaire alors, soit en combinant les 2, soit en remplaçant par celle d'Eve (en gardant aussi l'ancien en la renommant avec un old à la fin pour ne pas la perdre, mais on le complierait pas dans ce cas).

[2018-07-15 12:06] Peiffap commented on #515
Juste, le problème était un problème de création de fichiers.

[2018-07-15 12:07] Peiffap commented on #36
En soi c'est semblable à l'idée du summary1 et summary2. Je pense que c'est le plus simple.

[2018-07-15 20:54] blegat commented on #36
On peut peut-être mettre l'actuelle en summary1 alors en mettant une remarque mentionnant ce qu'il manque et ce qui n'est plus à jour

[2018-07-16 10:42] MartinBraquet commented on #449
Quel est l'intérêt d'avoir le dernier commit?
S'il n'y a pas de PDF pour le doc qu'on veut compiler, on est obligé de compiler.
Et s'il y a un PDF, on utilise en ligne de commande `latexmk`(une des commande dans root.mk`qui va mettre à jour le pdf uniquement si le .tex a changé.

[2018-07-16 15:57] Jimvy commented on #449
L'intérêt est que la date seule ne suffit pas à déterminer la version d'un document : des dates différentes ne signifient pas que le contenu est différent, et des dates identiques ne signifient pas qu'ils sont semblables.
Je rappelle qu'il y a parfois d'autres documents qui circulent dans les groupes, sur les forums etc... qui ne proviennent pas forcément du Drive officiel... Surtout que les gens

[2018-07-16 16:01] MartinBraquet commented on #449
C'est réglé avec les makefiles ça, je ne comprends pas ce qui pose soucis...

Je ne comprends pas ce que tu veux dire.

Si tu parles du Drive de @pverbist95 , il sera supprimé avant la rentrée normalement.

[2018-07-16 16:43] Jimvy commented on #449
Je comprends bien que tu ne comprends pas...
Le problème que j'ai avec le système actuel, c'est que si je compile une synthèse le 2 mars, que je la distribue à d'autres personnes, puis que le 15 mars je recompile la même synthèse, la met dans le Drive, puis que le 9 septembre quelqu'un télécharge les sources et recompile la même synthèse qui n'a pas été changé, on se retrouve avec 3 fichiers "synt

[2018-07-16 16:59] MartinBraquet commented on #449
Oui je vois, je ne me posais pas la question puisque je me disais qu'il n'y aurait que moi qui ferait la synchro sur le Drive, vu que je suis un des seuls à parvenir à le faire avec les makefiles et un programme de synchro onedrive/repo local sous Linux. Si je le fais chaque semaine, vu l'état peu entretenu de ce repo pendant l'année (max 3 PR par semaine), je me disais qu'il n'y aurait pas de sou

[2018-07-16 19:30] Jimvy commented on #449
J'ai réussi sous Windows à _risquer_ d'avoir les 16GB ; j'ai vite annulé le téléchargement, faudrait que je le fasse un jour.
Mais dans ce cas, tu fais comment pour mettre à jour le OneDrive ?
(Normalement j'ai aussi envoyé un commentaire différent par mail, on verra s'il arrive aujourd'hui.)

[2018-07-16 19:46] MartinBraquet commented on #449
Oui, ton mail est arrivé 4' après ton commentaire.
Je synchronise sous mon boot Linux avec ce repo github: https://github.com/abraunegg/onedrive.
Il est bien actif et progresse de jour en jour mais en tout cas, je n'ai aucun soucis avec. Il enregistre ce que j'ai modifié sur mon Drive local, du coup il ne met qu'une poignée de minutes pour uploader les modifs locales sur le net. Sous Windows, il f

[2018-07-17 09:19] NVanvyve commented on #348
Oui

[2018-07-17 09:41] Peiffap commented on #449
En ce qui concerne les dates/ids de commit: pourquoi ne pas pas une première ligne avec l'id du dernier commit changeant ce fichier et une deuxième avec la date de ce commit comme proposé plus haut? Comme ça les info's ont leur séquence aléatoire et les autres ont une date plus lisible.

[2018-07-17 11:11] MartinBraquet commented on #449
Si on veut l'ID du dernier commit, on ne peut pas le mettre manuellement dans le .tex quand on modifie le document, il faudrait donc un document extérieur qui associe à chaque .tex un ID et une date.
C'est possible selon mes recherches. On peut faire `git log -n 1 --pretty=format:%H -- circ-ELEC1530-summary.tex` pour avoir le dernier commit de cette synthèse.
Et pour la date:
[code]
qui fournit `1

[2018-07-17 11:30] Jimvy commented on #449
Un document extérieur, ou simplement une sorte de "define" passé à latexmk lors de la compilation, et dont on testerait l'existence avant d'inclure impunément.

[2018-07-17 11:35] MartinBraquet commented on #449
Oui, c'est mieux que le doc externe, je suis en train de modifier ça, je le pusherai sur #513 .
On passe juste l'ID et la date dans la commande make.

[2018-07-17 11:36] MartinBraquet commented on #449
Oui, c'est mieux que le doc externe, je suis en train de modifier ça, je le pusherai sur #513 .
On passe juste l'ID et la date dans la commande make.

[2018-07-17 12:05] MartinBraquet commented on #449
Oui, c'est mieux que le doc externe, je suis en train de modifier ça, je le pusherai sur #513 .
On passe juste l'ID et la date dans la commande make.
Voilà ce que ça donne, c'est bien ça non? :)
![image](https://user-images.githubusercontent.com/25173236/42816249-85d32a98-89ca-11e8-9601-36bac793c774.png)

[2018-07-17 22:23] Jimvy commented on #449
Comme indiqué dans la PR, il me semble que cela satisfait aux conditions. :D
Après, il faudrait voir dans quelle mesure ça fonctionne sous d'autres OS/setup ; les contributeurs n'ont pas forcément de jouer du terminal sous GNU+Linux

[2018-07-18 20:13] MartinBraquet commented on #36
[LFSAB1803 %3A Economie de l'entreprise.zip](https://github.com/Gp2mv3/Syntheses/files/2207221/LFSAB1803.3A.Economie.de.l.entreprise.zip)
Voici la synthèse d'Eve, si on met en summary1 et summary2, je vais adapté mon script qui fait la synchro, car pour le moment, le script ne compile qu'une seule synthèse. :)

[2018-07-22 21:14] #443 closed

[2018-07-25 20:40] MartinBraquet commented on #515
Any update? On laisserait Août pour finir? :)

[2018-07-25 22:09] Jimvy commented on #515
Au pire on laisse tel que c'est pour le moment et on attend d'avoir plus d'avis - on est en comité fermé ici.
Juste pour info, l'idée de mettre septembre vient de toi si j'ai bon souvenir (j'avais vu ça dans les mails ou qlq chose comme ça), et je trouvais ça franchement malin, même si c'est contraire à l'intuition (mais, qu'est-ce qui n'est pas contraire à l'intuition dans cette vie :p )

[2018-07-26 08:34] MartinBraquet commented on #515
Oui, j'avais fait un copy-paste d'un document sur le drive.
En réalité, ce serait mieux d'avoir septembre comme mois pour l'ordre chronologique, mais ça impliquerait de changer le nom de 149 dossiers sur le drive et 21 sur ce repo.
Avant, on n'avait accès au drive que sur le onedrive, donc c'était impossible de renommer Aout en Septembre par un programme. Mais maintenant que je peux faire joujou a

[2018-07-26 12:09] blegat commented on #515
Faisons un sondage:

* Pour Août réagissez avec :+1:
* Pour Septembre réagissez avec :heart:

[2018-07-26 12:42] Jimvy commented on #515
C'est fortement biaisé d'utiliser 👍 et ❤️  😄

[2018-07-26 12:59] Peiffap opened #525 "Coding style"
Comme dit par @Jimvy dans les PR #484 et #508, il serait bien de définir un style à suivre sur ce repo... Personellement je suis un grand fan des recommendations de Papa Torvalds: https://www.kernel.org/doc/html/v4.10/process/coding-style.html

[2018-07-26 13:53] Jimvy commented on #525
Papa Torvalds code en C et en assembleur, et ne rédige pas des synthèses. ;)
(Je suis aussi un fan de ses recommandations.)

1. Comme précisé dans #484 et #513, mon avis sur la longueur des lignes est la suivante :
    1. cette coupure des lignes à 80 caractères est historique, elle était adaptée à une époque où les éditeurs de texte ne savaient pas couper les lignes proprement (2) et où les termi

[2018-07-26 15:43] Peiffap commented on #525
Je suis d'accord avec toi, en ajoutant que j'aime bien couper avant les 80 caractères quand même, que ce soit sur une ponctuation ou sur une conjonction (les phrases longues sont en général moins bien rédigées, car une seule phrase ne devrait parler que d'un seul concept...).

Sinon, "encore aujourd'hui" est un complément circonstanciel de temps si je ne m'abuse 😉.

[2018-07-26 16:23] Peiffap commented on #426
@MartinBraquet tu as résolu ce problème?

[2018-07-26 18:00] MartinBraquet commented on #426
Oui, je lance le makefile qui

1. compile tous les fichiers
2. lance un script python qui donne le chemin de dépôt du fichier compilé vers le drive
3. copie le fichier compilé vers mon drive local

Ensuite, je lance un programme (https://github.com/abraunegg/onedrive) pour Linux qui synchronise mon drive local vers onedrive sur le cloud :D

[2018-07-26 18:01] Peiffap commented on #426
Excellent, je peux fermer l'issue alors?

[2018-07-28 11:31] Jimvy commented on #515
L'autre jour j'ai demandé à 5 (ou 4) amis si c'était ok que je regarde leurs anciennes soumissions INGInious, ils ont vu mais n'ont pas répondu. Donc bon, ça ne veut pas dire grand chose ;)

[2018-07-28 11:34] Jimvy commented on #515
(EDIT : la majorité des gens n'ont juste pas envie de répondre en période estivale, ils ne sont pas fous non plus, ils sont en vacances ou en blocus.)

[2018-07-29 13:05] Peiffap opened #535 "Summary2"
Quelle serait la commande add.sh à faire pour ajouter un summary2? Je dois le faire manuellement ou il y a moyen d'automatiser?

[2018-07-29 13:07] MartinBraquet commented on #535
Oui, c'est manuel, impossible avec add.sh car il match uniquement le mot "summary" :) .
Donc pour le moment, il faut copy-paste sans oublier de changer la variable TYPE dans le makefile en `summary2`.

[2018-07-29 13:14] Peiffap commented on #535
Je dois faire ceci non?

`TYPE=summary
NUM=2
include ../eco-FSAB1803.mk`

[2018-07-29 13:19] MartinBraquet commented on #535
Oh oui, juste ! Donc il faut juste ajouter NUM=2, et laisser le .tex en `eco-FSAB1803-summary.tex`.

[2018-07-29 17:53] MartinBraquet commented on #525
Si vous recherchez d'autres avis, moi je suis partant pour suivre le style que vous proposez/proposerez. Dans tous les cas, ce serait utile de le spécifier dans le `readme`.

[2018-07-31 11:53] #426 closed

[2018-07-31 21:01] #449 closed

[2018-08-01 07:36] MartinBraquet commented on #515
Répondre, ça met 30 secondes.

[2018-08-01 07:38] MartinBraquet commented on #429
Résolu par #513 , la commande clean dans le makefile ne supprime maintenant que les 1 ou 2 PDFs générés par le compilatieur.

[2018-08-01 09:37] #36 closed

[2018-08-02 19:25] MartinBraquet opened #539 "Changement de code (Réforme du bac)"
La réforme du bac commence à la rentrée, et les sigles des cours changent de FSAB à EPL.
On laisserait tout à FSAB sur ce repo et on changerait dans le config.yml le match de FSAB pour qu'il corresponde à EPL, de sorte à avoir le bon chemin pour le drive?

[2018-08-02 20:47] Jimvy commented on #539
Comme discuté en MP :
- Pour les nouveaux cours, style LEPL1101 (algèbre), LEPL1102 (analyse I), LEPL1105 (analyse II), LEPL1108 (math discrète et proba), LEPL1109 (stat et datascience), LEPL1401 (info 1 Python), LEPL1402 (info 2 Java), LEPL1501 (P1), LEPL1503 (P3 Q4 info), LEPL1801 (éthique), LEPL1803 (économie), LEPL1804 (devdur), LEPL1805 (gestion personnes) je pense que le mieux est de laisser

[2018-08-03 07:34] MartinBraquet commented on #539
Je suis d'accord, il faudrait donc changer la variable OPTION dans les makefiles de FSAB à EPL pour les cours qui ne changent pas du tout. De cette manière, les cours qui changent se verront toujours attribuer la variable OPTION à FSAB pour l'ancien et les étudiants créeront un nouveau dossier avec la variable OPTION à EPL pour le nouveau.

[2018-08-13 10:05] #429 closed

[2018-08-13 10:07] Jimvy commented on #316
@MartinBraquet @mcouplet peut-on considérer que cette issue est résolue par #537 ?

[2018-08-13 10:26] MartinBraquet commented on #316
Bof, je ne suis pas certain que ça fonctionne. Mais je ne vois pas vraiment ce qu'il faut obtenir, et je ne suis pas sûr que cela soit vraiment intéressant honnêtement :smile: .

[2018-08-16 11:14] bcassiers opened #564 "[LINGI1131] Corrections des TPs; ajout de l'exercice 10.1"
Bijour,
Je gère pas git de ouf, et j'ai examen demain donc bof le time, mais voici une résolution pour l'exo 10.1 de Oz 2, si quelqu'un sait le rajouter dans le correctif!

[Untitled.zip](https://github.com/Gp2mv3/Syntheses/files/2293468/Untitled.zip)

[2018-08-16 11:16] MartinBraquet commented on #564
Merci, tu penses qu'il faut quelqu'un pour la valider ?
Quelqu'un est disponible pour la mettre sur le repo?

[2018-08-16 12:49] bcassiers commented on #564
J’ai testé et ca Browse les bons bails

[2018-08-20 06:09] MartinBraquet commented on #316
@mcouplet , tu penses que l'issue peut être fermée ou bien tu as une idée plus précise de l'option à rajouter? :smile:

[2018-08-20 06:12] #180 closed

[2018-08-20 07:30] MartinBraquet commented on #515
@blegat , tu penses que je peux renommer août en septembre , après 25 jours de sondage ? :smile:

[2018-08-20 12:42] blegat commented on #515
Je pense qu'on peut considérer que Septembre a gagné oui :-P

[2018-08-23 17:09] Jimvy opened #585 "listings chargé automatiquement sans nécessité d'inclure eplcode.sty"
C'est un bug un peu bizarre: en gros, même sans avoir chargé eplcode.sty, le compilateur LaTeX reconnait quand même l'environnement lstlisting et la commande lstinline. Le rendu est dégueulasse, car il s'agit du rendu par défaut du package, celui qu'on obtient sans aucune configuration avec `\lstset`).
J'ai vérifié que ce n'était pas LaTeX en lui-même, car il ne compile alors pas. C'est donc l'un

[2018-08-23 17:11] Jimvy opened #586 "add.sh ne fonctionne que s'il est exécuté depuis la base du repository"
Appeler `add.sh` depuis un autre dossier provoque la création dans ce dossier d'un dossier `src` contenant les dossiers demandés, avant que `add.sh` finisse par planter lorsqu'il ne reconnait pas le dossier `templates`.

[2018-08-23 21:59] #515 closed

[2018-08-24 10:49] Peiffap commented on #586
@Jimvy Fixed by #587 je crois?

[2018-08-24 16:15] #586 closed

[2018-08-24 16:17] Peiffap opened #589 "Issue with creating notes in add.sh"
Quand j'essaie de créer des notes (en l'occurence mes notes de CM pour le cours d'opti), il me demande de spécifier une variable `sol`, ce qui n'a pas beaucoup de sens selon moi. C'est un comportement désiré ou bien une erreur à fixer? Dans le how_to_contribute, il n'en parlent en tout cas pas...

[2018-08-24 17:15] Jimvy commented on #589
C'est une erreur.

[2018-08-24 17:35] Peiffap commented on #589
Tu vois où il faut fixer? C'est pas super urgent.

[2018-08-24 23:27] Jimvy commented on #396
Pour cette issue j'aimerais bien avoir votre avis sur la manière dont on peut le régler.
Si vous ne voyez pas quel est le problème, le voici :
![screenshot_18 08 24_2](https://user-images.githubusercontent.com/22087033/44577358-2bb24500-a791-11e8-8cbd-b9b7d96a2d5d.png)
Les numéros de ligne de l'environnement `lstlisting` sont à gauche de la ligne grise de l'environnement `solution`. C'est assez mo

[2018-08-25 00:08] Peiffap commented on #396
- Décaler la solution

  - Si le changement est fixe, l'alignement de l'environnement solution avec les marges de la page deviendra moche.
  - Si le changement est variable, ce sera vraiment horrible si on a plusieurs questions courtes sur la même page dont une ne contient pas de listing et l'autre si en plus de l'être comme précisé dans le cas précédent.

- Décaler le listing

  - Pratique? Oui.

[2018-08-25 09:28] MartinBraquet commented on #396
La dernière solution me semble aussi être la meilleure. Mais comme le dit @Peiffap , y a-t-il un soucis lorsque le nombre de ligne passe de 1 à 2 chiffres?

[2018-08-25 10:38] Jimvy commented on #396
La dernière solution est celle illustrée à la fin des 5 exemples du screenshot. J'ai fait exprès de mettre 987 pour montrer à quoi ça ressemble avec un long numéro de ligne, et je trouve qu'à quelques tweak près ça devrait aller (surtout que 90% des listings ont moins de 99 lignes).
Par contre je préférerais activer cette modification uniquement au sein des `solution`, car en temps normal ce n'est

[2018-08-25 11:45] MartinBraquet commented on #589
Je ne vois pas de soucis, tu saurais en dire plus @Peiffap ? :wink:
[code]

[2018-08-25 11:48] Peiffap commented on #589
`
MacBook-Pro-13:Syntheses admin$ ./add.sh 4 opti INMA 1702 notes
Please choose sol among ``only none both''. You chose ``''.
MacBook-Pro-13:Syntheses admin$
`
Ah... Peut-être que c'est mac qui se plante?

[2018-08-25 12:13] MartinBraquet commented on #589
En fait, il interprète que tu as noté un chaine vide : `You chose ``''`.
J'ai résolu ce bug dans la PR liée au bash (#590), pour ne pas avoir de conflit en créant une nouvelle PR.

[2018-08-25 12:14] Peiffap opened #592 "Adding remarks at the end of hypertitle"
As mentioned in #584 this feature seems to have stopped working. Would be nice if this can be fixed (just putting it here so I don't forget about it, not an urgent thing).

[2018-08-25 12:38] MartinBraquet commented on #592
(Switch in FR)
En mettant des accolades à la fin de `hypertitle`? Je ne rien à ce propos dans l'historique de `epleval.cls`. Tu pourrais taper un exemple ou montrer un .tex qui utilise cette technique? :smile:

[2018-08-25 12:44] Peiffap commented on #592
Pour moi aussi ça semblait fonctionner, mais Jean-Martin avait des problèmes avec ça.

[2018-08-25 15:36] Jimvy commented on #592
Il y a des exemples dans les examens d'info 1.
(Qui doivent d'ailleurs être mis à jour vu que le Drive a changé... Ce sera une autre PR.)
En fait, ça fonctionne encore... A condition qu'on mette le crochet droit '[' sur la même ligne que les autres arguments de `hypertitle`. Si on revient à la ligne, il ne le prend pas.
Je pense qu'il s'agit d'un bug (du parseur) de LaTeX.

[2018-08-25 15:40] MartinBraquet commented on #592
Ok, donc closed ?

[2018-08-25 15:44] Jimvy commented on #592
Je corrigerai. Mais oui, closed car LaTeX.

[2018-08-25 15:44] #592 closed

[2018-08-25 15:48] Jimvy commented on #592
En fait, l'idée de cette remarque c'est parce que le fichier ne contient pas l'énoncé de l'examen, juste l'énoncé des questions, au contraire d'autres examens sur le site qui ont tout retapé.
Mais je vais plutôt remplacer ce commentaire par un disant que des codes sources sont disponibles sur Github.

[2018-08-26 00:52] Jimvy opened #597 "Espaces autour de la ponctuation cassés au sein du texte optionnel de hypertitle"
Cf examen d'info 1 de juin 2013 : il n'y a pas d'espace avant le point-virgule de la dernière ligne, en tout cas sous TeXlive 2017. Ca n'a pas beaucoup de sens alors que le document est en français partout ailleurs.
I'll have a look at it tandis que je corrige les (nombreux) soucis de listings, des solfig etc...

[2018-08-26 00:53] Peiffap commented on #597
C'est précis comme issue 😄

[2018-08-26 00:54] Jimvy commented on #597
C'est aussi très précis comme erreur ;)

[2018-08-26 16:51] MartinBraquet commented on #597
![image](https://user-images.githubusercontent.com/25173236/44630624-e3e21800-a960-11e8-8804-296ca763aa92.png)
Je vois un espace, il devrait y en avoir un ou pas? Quel est le rapport avec le français?

[2018-08-26 17:21] Jimvy commented on #597
Oui, c'est le cas sur master car il y avait bien une espace avant le point-virgule.
J'ai fait des changements et je l'ai enlevé, car il est superflu (babel frenchb s'en charge).
Chez moi je n'ai pas droit à l'espace avant le point-virgule.

[2018-08-27 21:10] Peiffap opened #604 "Rename ML folder"
As discussed (well, observed) in #603.

[2018-08-27 21:31] Jimvy commented on #604
Mais quels noms leur donner ? Pour rappel :
- LINGI2262 Machine Learning: classification and evaluation, avec Pierre Dupont, en Q2
- LELEC2870 Machine Learning: regression, dimensionality reduction and data visualization, avec John Lee et Michel Verleysen, en Q1
Ca ne pose pas de problème au niveau des dossiers ici, mais ça pose problème dans le cas du mapping car on ne saura pas trop quel nom de

[2018-08-27 21:32] Peiffap commented on #604
Je pensais le faire en plus simple: `mlce` et `mlrdd`.

[2018-08-27 21:53] Jimvy commented on #604
Je trouve ça très difficile à lire.
Essentiellement, les cours traitent de machine learning, puis ajoutent des trucs dans leur titre pour donner envie de prendre le cours (littéralement : du machine learning ça a besoin de régression, de réduction, de classification et d'"evaluation").

[2018-08-30 12:14] #585 closed

[2018-08-30 22:18] #589 closed

[2018-08-31 16:55] Jimvy commented on #396
Est-ce que vous trouvez ça stable de redéfinir complètement les commandes de base de `listings` (avec des `\def` et autres) pour ne pas avoir à changer dans tous les documents le `begin{lstlisting} ... \end{lstlisting}` ? C'est en effet la seule solution que j'ai trouvé pour que les modifications s'appliquent correctement.

[2018-08-31 21:03] MartinBraquet commented on #396
Si c'est la seule solution que tu as trouvée, oui. Je privilégie le rendu même si le code n'est pas très "clean".

[2018-08-31 23:03] Jimvy commented on #396
Lorsque c'est prêt (probablement la semaine prochaine), je vous ferai tester. En tout cas ça n'a pas planter tantôt.
Disons que le code utilise TeX au lieu de LaTeX, ce qui rend les choses douteuses.

[2018-09-12 12:41] Jimvy opened #622 "Acronymes des codes des cours"
Les cours suivants n'ont pas encore de petits noms courts. Je vous propose d'en trouver, pour qu'on puisse avoir une uniformisation des dossiers.
Je mets aussi mes propositions.
Il faudrait aussi voir dans quelle mesure utiliser des tirets dans les noms de cours fonctionne, ou s'il vaudrait mieux utiliser des underscores, ou tout coller (beurk).

- LELEC2531 Design and architecture of digital elec

[2018-09-12 13:10] MartinBraquet commented on #622
Pour les cours qui ne sont pas encore sur ce repo, ça ne me semble pas très urgent/utile.
Pour les autres, je ne suis pas contre le fait que tu les renommes, avec une préférence pour le underscore puisque c'est quasi-sûr qu'il ne posera aucun soucis pour tous les langages utilisés.
Personnellement, je n'aurais pas donné de surnom aux cours, je les aurais appelés par leur code.

[2018-09-12 13:38] Jimvy commented on #622
"Uniformisation des dossiers" est en effet un terme peu adéquat. 😄

Aussi, je ne sais jamais comment s'appelle un truc comme "prostoch", "sigsys" ou "ml", donc je l'ai appelée "acronyme", alors que "abréviation" serait plus adéquat aussi.

L'idée c'est que les dossiers soient déjà là, pour que de nouveaux contributeurs n'aillent pas inventer des codes de cours étranges si ceux-ci n'existent pas.
L

[2018-09-12 13:57] MartinBraquet commented on #622
Je ne suis pas vraiment d'accord sur les abréviations. Pour moi, les codes de cours sont justement créés entre autres pour ne pas avoir à citer le nom complet. Et les gens ont environ 6 cours par quadri, c'est étrange s'ils ne les retiennent pas, je les connais déjà alors qu'on n'est pas encore rentré.
Si tu veux, on peut donc mettre à jour le config.yml avec tes abbréviations, je te fais confianc

[2018-10-02 10:38] mcouplet commented on #316
On peut fermer :)

[2018-10-02 11:55] #316 closed

[2018-10-02 17:16] MartinBraquet opened #630 "Compiler une solution de test/examen uniquement si begin{solution}"
L'utilisation de l'attribut `SOl` dans les makefiles n'est pas très pratique puisque celui-ci devrait changer par exemple en cas d'ajout d'un correctif à un examen (alors que le document était initialement créé sans solution: `SOL=NONE`).
Il faudrait compiler les solutions d'un document uniquement si `begin{solution}` est utilisé dans le fichier tex.

[2018-10-02 18:53] Jimvy commented on #630
Dans la même catégorie : je me disais que ce serait bien d'imposer l'usage de `\begin{solution} ... \end{solution}` ou de `\nosolution` en faisant en sorte de faire planter la compilation en cas de non-usage de ces commandes. J'avais une idée de comment arranger ça, vu que c'est similaire à un autre fix (en attente depuis plus d'un mois, je devrais penser à la PR).

[2018-10-03 09:08] Jimvy commented on #630
Après relecture, je trouve aussi que l'attribut SOL ne sert à rien (ou presque), vu qu'il change dès que quelqu'un ajoute une solution, et qu'il porte à confusion lors de la création d'un document.
- SOL=only est très rare et signifie qu'on doit utiliser des \nostatement
- SOL=none change dès qu'on ajoute une solution

Le mieux serait d'analyser le code source et d'en déduire s'il y a les énoncés/

[2018-10-15 19:38] Peiffap opened #632 "Number-less solution environment"
With the current solution environment, the grey arrow seems to always have a number in it. Would any of you know how to make a substitute (\begin{solution*} presumably) that doesn't have this problem? This issue arises when I try to make questions at the subsubsection level, and have to manually number them...
<img width="725" alt="screen shot 2018-10-15 at 21 36 09" src="https://user-images.githu

[2018-10-17 16:09] Jimvy commented on #632
As I'm already updating some of the core files to solve a few issues, I'll have a look at it.
Right now, it looks very strange to me as `\theQA` is defined as `\thesection`, but clearly it gets the wrong section number. But as it is still LaTeX, I won't be surprised it is a normal behaviour.

[2018-10-17 20:05] Peiffap commented on #632
Alright pal, no rush on it, there's an awful lot of Algo exercises left for me to make anyway...

[2019-01-01 22:30] Jimvy opened #646 "Intégration d'esdiff dans eplcommon"
Dans la PR #645 , le package `esdiff` est utilisé, qui contient des commandes assez similaires à `eplcommon` : `\diff` pour `\fdif` et `\ffdif`, `\diffp` pour `\fpart`, `\ffpart` et `\fdpart`. On peut envisager une intégration simple (juste `\RequirePackage`), ou un remplacement (avec un dépréciation) des commandes actuelles.

[2019-01-02 16:17] Peiffap commented on #646
Pour ce qui en est des commandes de dérivées, elles existent déjà dans le package `physics` qui me semble mieux maintenu que `esdiff`. Pour l'opérateur différentiel, je me dis que si on rajoute encore un package, pas mal de gens qui ne connaissent pas les options de celui-ci ne vont pas voir cette option, et seront donc (encore!) moins susceptibles de bien formatter leurs opérateurs différentiels.

[2019-01-08 14:57] Peiffap opened #651 "Fichiers superflus sur le Drive"
Depuis qu'on ajoute "majeure" ou "mineure" après les examens, il y a des fichiers superflus (sans maj/min) sur le Drive, comme par exemple pour les examens d'INGI1101-logique, dans le Q5 d'INFO.

Il serait intéressant d'enlever ces fichiers, car ils pourraient prêter à confusion.

[2019-01-08 15:20] MartinBraquet commented on #651
Ok, ceux qui voient d'autres déchets peuvent le signaler ici. :smile:

[2019-01-11 17:01] gorfou99 opened #655 "LFSAB1302 - Examen de Août 2016 - erreur"
Dans la question 2, la ligne `p_{CS_2} = X_{CS_2} * 68.66 kPa = 38.02 kPa` n'est pas correcte
Ca devrait être `p_{CS_2} = X_{CS_2} * 68.66 kPa = 37.76 kPa` (car `X_{CS_2}=0.55`)

Et de même ça devrait:
`p_{CH_3COCH_3} = X_{CH_3COCH_3} * 44.26 kPa = 19.92 kPa` (car `X_{CS_2}=0.45`)

[2019-01-11 17:07] gorfou99 opened #656 "LFSAB1302 - Examen 2016 janvier - erreur"
La correction me semble un peu bizarre.
2*T_5 = T_5 +803 ; T_5 = 807K

Ca devrait être
2*T_5 = T_5 +803 ; T_5 = 803K

Après ça ne colle plus avec la correction de Jeanmart...

Et encore
S_4 = S_3 m c_p ln(T_f/T_i)=2.86
S_6 = S_4 mc_pln(T_f/T_i)=2.00
doit être
S_4 = S_3 + mc_pln(T_f/T_i)=2.86
S_6 = S_4 + mc_pln(T_f/T_i)=2.00

et dans le travail on peut changer 804 + - 299 en 804 - 299

Ca ne change

[2019-01-12 10:19] MartinBraquet commented on #655
Merci, c'est possible que tu le corriges toi-même? Il devrait même y avoir moyen directement sur Github vu que ce sont des changements mineurs. :smile:

[2019-01-13 16:41] gorfou99 commented on #655
@Peiffap oui petite faute. J'essaierai de corriger après l'examen

[2019-01-21 11:39] Jimvy opened #662 "LGCIV1072 - fix summary"
As mentioned in #624 there are a lot of errors in the summary: disappearing figures, overfull \hbox'es, bad alignments etc.

[2019-01-21 14:17] MartinBraquet commented on #662
Rageux :cry:

[2019-01-26 20:15] Peiffap commented on #655
C'est car Louis avait arrondi pour les fractions molaires :), les valeurs données sont correctes.

[2019-01-26 20:15] #655 closed

[2019-01-26 21:07] #656 closed

[2019-01-31 19:11] Jimvy opened #673 "ELEC2532 summary awfully slow to compile"
Looks like it has to generate a lot of figures, but it takes about two minutes to run the whole process, which is kind of excessive for a 20 pages summary.

[2019-01-31 20:37] Jimvy opened #674 "Add suppression of minted-related files and folders to make cleanaux"
All is in the title

[2019-01-31 21:21] Peiffap commented on #673
How would you speed it up?

[2019-02-05 14:03] #674 closed

[2019-02-08 23:03] Peiffap opened #681 "Wrong hypertitle fill-in on macOS"
When creating new documents, the hypertitle is now automatically set to contain the name of the course instead of its code. However, for macOS users, the following happens for almost every course that has a nonstandard character in it, i.e., most french titles. For example,

becomes

which is not really wanted behaviour...

[2019-02-09 00:54] Jimvy commented on #681
I have a similar problem, but the output is "b'MÃ©thodes numÃ©riques'"

[2019-02-09 08:10] MartinBraquet commented on #681
Not on Linux. :smile:

[2019-02-09 15:45] Jimvy commented on #681
Bon, c'est clairement un problème de terminaux : vous utilisez quels terminaux sur chacun ? Et leur encodage ?
Tapez "env"
Chez moi, j'ai :
- Git Bash : LANG="en_US.UTF-8", TERM="xterm". Sur ce terminal, ma correction fonctionne. A noter qu'il utilise le "python" (alias Python 3) de Windows.
- Ubuntu 18.04 Bash : LANG="C.UTF-8", TERM="xterm-256color". Sur ce terminal, le script Python n'est jamais

[2019-02-09 15:52] Peiffap commented on #681
Moi j'ai LC_CTYPE=UTF-8 et TERM=xterm-256color.

________________________________
From: Jean-Martin Vlaeminck <notifications@github.com>
Sent: Saturday, February 9, 2019 4:45:16 PM
To: Gp2mv3/Syntheses
Cc: Gilles Peiffer; Author
Subject: Re: [Gp2mv3/Syntheses] Wrong hypertitle fill-in on macOS (#681)

Bon, c'est clairement un problème de terminaux : vous utilisez quels terminaux sur chacun ? Et le

[2019-02-09 16:15] MartinBraquet commented on #681
LANG=en_GB.UTF-8.

[2019-04-12 18:44] MartinBraquet opened #689 "Amélioration de "How to contribute""
Après discussion avec un autre étudiant, le document _How to contribute_ n'est pas assez user-friendly pour les novices de Git.
Il faudrait ajouter une description complet, pas-à-pas et avec des screenshots à chaque étape, détaillant la manière de proposer un fichier .tex via une PR sur le master officiel (çad depuis le clone de repo officiel en local jusqu'au push sur la branche online et ainsi l

[2019-04-12 19:39] Jimvy commented on #689
Je suis d'accord que c'est peu user-friendly.
Mais j'ai quand même des doutes que ce soir à nous de leur apprendre l'usage de GitHub...
Par contre, ça peut valoir la peine d'expliquer comment marchent `add sh`.
Et on ne m'empêchera pas de dire que l'usage du terminal n'est pas si compliqué que ça, et que c'est un outil tellement utile et tellement nécessaire dans la suite des études (je pense aux

[2019-04-17 12:32] alex-1211 opened #692 "ELEC1370-2013-Juin-Majeure-Question 1:Phaseurs"
Le symbole de la source de tension est inversé (la borne positive devrait être vers le haut)

[2019-04-17 12:39] Jimvy commented on #692
C'est un bug dû à circuitikz, après qu'ils aient changé l'API.

[2019-04-17 12:43] alex-1211 commented on #692
En fait il y a un tas de bugs comme ça dans les examens de cirmes. Je peux toutes les lister, mais le mieux est de se référer au document "Examens_ELEC1370.pdf" où a priori tous les schémas sont corrects

[2019-04-17 12:51] alex-1211 commented on #692
En fait presque tous les schémas des exams de circmes sont erronés à cause de ce bug

[2019-04-17 12:57] Jimvy commented on #692
Oui, il faut corriger toutes les instances de circuitikz, car je pense que le problème est aussi présent en physique 1.

[2019-04-19 14:10] MartinBraquet commented on #692
StackExchange propose de faire `\usepackage[oldvoltagedirection]{circuitikz}` en header pour un quick fix, qu'en pensez-vous ?

[2019-06-03 20:30] MiguelDLC opened #700 "Ajout d'une synthèse: Relativité restreinte [PHYS1231]"
Bonjour,
Quelques personnes du cours de relativité restreinte ont fait une synthèse (qui se trouve sur actuellement overleaf).
J'aimerais la porter sur le drive, et je me demande quelles sont les étapes à suivre, autre que créer le dossier dans l'endroit approprié en respectant les conventions sur les noms de cours. (Je proposerais `Q4 > relatrestreinte-PHYS1231 > summary > relatrestreinte-PHYS123

[2019-06-03 22:18] Peiffap commented on #700
Hello,

En fait, la création du dossier (et tout ce qui vient avec, genre créer les fichiers pour la compilation et ce bazar), c'est justement ce que fait `add.sh`. Pour le faire, tu te mets à la racine du repo, et tu suis la convention donnée dans les exemples: dans ton cas, ça deviendrait (je pense) `bash add.sh 4 relatrestreinte PHYS 1231 summary`. Tu peux choisir le nom que tu veux entre `4` e

[2019-06-04 07:44] MartinBraquet commented on #700
Salut Miguel,
J'ajouterais que le document How to Contribute a été mis à jour il y a peu, il pourrait donc t'aider si ce n'est pas déjà le cas. Il est dans le dossier principal de l'EPL-Drive.
Ensuite, si tu ne le sais pas déjà, tu n'as pas besoin de mettre la synthèse en pdf sur le drive vu que tu la mets ici sur Github. Quand la synthèse sera acceptée ici, je lancerai un code qui va automatiquem

[2019-06-04 21:13] MiguelDLC commented on #700
Merci pour ces infos. J'ai réussi à faire à peu près tout à part la partie `make pdf`. Je suis sensé taper ça sur git pour générer le pdf ou bien j'ai manqué quelque chose? (Pour l'instant je visualise le pdf en le compilant via texmaker)
Autre question, au moment de la compilation finale qui crée le pdf sur le drive, c'est `config.yml` qui sert à donner le chemin d'accès?
Sinon question template,

[2019-06-04 21:18] MartinBraquet commented on #700
Ce n'est pas obligé d'utiliser `make pdf`, tu peux tout faire avec Texmaker.
Oui, c'est config.yml qui donne le chemin vers le drive EPL.
Pour la page de garde, c'est compliqué de la changer, je pense qu'on peut la laisser comme ça =).
C'est mieux de mettre la synthèse complète quand elle est finie, selon moi.
Bon travail !

[2019-06-04 21:54] Jimvy opened #702 "Make modular the name of the faculty of a document"
As mentioned by @MiguelDLC on #700 , right now the front page always names the faculty where the course is given as "EPL (Ecole Polytechnique de Louvain)". This is of course not adequate when the course is given by another faculty, like the science faculty (LPHY and LMAT), or the broad ESPO faculty (LECGE etc), or the bioengineering faculty (LBIR).
Suggested correction: an optional argument to \ma

[2019-06-04 22:12] Peiffap commented on #702
Optional argument sounds good, we've added so many already, one more shouldn't be a problem.

[2019-06-05 10:36] MartinBraquet commented on #702
Don't know... These are exceptions. Or we can extend this repo to the entire university, and it will become interesting :smile: .

[2019-06-05 11:23] Peiffap commented on #702
Extending to the entire university sounds like a bad idea. The whole point of this repo is to have quality assurance. In the wise words of Paul Fisette: "Si tu sais pas faire une jacobienne, va dans le bas de la ville."

[2019-06-05 11:27] MartinBraquet commented on #702
Ofc, but I would rather see a set variable, eg. `set{\faculty}{LSM}` instead of a new param in hypertitle, in order to have the same template for all (99%) the documents that are from the best faculty.

[2019-06-05 14:56] Jimvy commented on #702
Next week, some geek will post a UConfession to again remind everybody of the arrogance of EPL students...

[2019-06-05 15:05] Peiffap commented on #702
The fact they have time for that during exams week pretty much proves my point, though...

[2019-06-10 16:53] MartinBraquet opened #714 "Clean config.yml"
There are (a lot) of unused lines in `config.yml` since `mysmartcp` is not used anymore, and `root.mk` has been refreshed.
It should be a good idea to clean.
Also, to update it by adding the new matches of the course names, there is currently a line in `add.sh` that states `please update config.yml with "math: <name in EPL-Drive>"` if the user creates a doc in a new course. But it is not sufficien

[2019-08-26 12:39] #689 closed

[2019-09-08 09:18] Jimvy opened #735 "Separate the \begin{document} from \hypertitle"
A lot of people may be misguided by the structure of the documents and the `\hypertitle` command: there is no visible `\begin{document}`, nor any command that creates the title page, so it causes some confusion as to where the preamble ends and where the document starts.
For the accustomed users, it's not a problem, as we know this little "idiosyncrasy" of the repo. For beginners, it may not be ob

[2019-09-08 13:20] MartinBraquet commented on #735
I don't think it is worth it for now.

[2019-09-09 22:10] #692 closed

[2019-09-17 12:15] Peiffap commented on #604
En y réflechissant, je me dis que "ml-ingi/elec" est le meilleur choix.

[2019-09-18 19:39] MartinBraquet commented on #700
Related to #731 .

[2019-09-18 19:39] #700 closed

[2019-12-21 12:06] MartinBraquet opened #757 "[EPL1101] Ajout de la méthode des cofacteurs"
La méthode des cofacteurs n'est pas dans la synthèse d'EPL1101, ce document proposé par un étudiant pourrait y être intégré.
[Synthèse méthode des cofacteurs.docx](https://github.com/Gp2mv3/Syntheses/files/3991358/Synthese.methode.des.cofacteurs.docx)
@pdan1 , si tu as le temps, ce serait super =)

[2019-12-22 11:53] pdan1 commented on #757
Je l'ajoute dans ma liste des tâches, je ferai un PR quand ce sera fait ;)

[2019-12-30 09:40] #714 closed

[2020-01-02 10:18] louisvbst opened #768 "LMECA1901 : Exam Janvier Mineure Question 3 Partie 2 Sous-Question 3"
Le tableau de correspondance entre X et x est faux. Les erreurs sont les suivantes
La 3e colonne est par exemple fausse. Le x correspond à X= (L_0 , L_0 , 0).
La 4e colonne est fausse. Le X correspondant au petit x est X=(0 , L_0 , 0)

[2020-01-02 10:18] louisvbst commented on #768
J'ai oublié de préciser que c'était l'examen de janvier 2019

[2020-01-02 11:36] MartinBraquet commented on #768
Merci !
Il n'y a pas d'autre erreur dans cet exam ?

[2020-01-03 07:52] louisvbst commented on #768
Je n'en ai pas vue d'autre pour l'instant

[2020-01-05 17:33] louisvbst opened #775 "LFSAB1105 : Exam Janvier 2017 Question 1.1"
x_alpha vaut 8h39 et non 7h39! La réponse finale est donc 13h09 au lieu de 12h09

[2020-01-06 15:52] MartinBraquet commented on #775
Merci, peux-tu clarifier ton raisonnement. J'obtiens:
x_alpha = sigma * 1.645 + mu
              = sqrt(30) * 1.645 + 7h30 = 7h39

[2020-01-06 16:04] louisvbst commented on #775
Comme c'est compté en heures, c'est x_alpha=sqrt(0.5)*1.645+7.5=8.66, qui correspond bien à 8h39

[2020-01-06 16:12] MartinBraquet commented on #775
Je vois, mais sigma^2 ne vaut pas 0.5, c'est 30 [min^2] donc 30/60^2 [h^2].
Je pense que l'énoncé voulait dire sigma = 30 min, ce sera plus simple.
Tu confirmes que l'on a alors x_alpha = 0.5 * 1.645 + 7h30 = 8h19 ?

[2020-01-06 16:34] louisvbst commented on #775
Pourtant dans l'énoncé il est bien indiqué sigma²= 30 minutes. Mais je suis d'accord qu'au niveau unités ça prête à confusion

[2020-01-10 12:40] #768 closed

[2020-01-10 12:41] #775 closed

[2020-01-16 12:05] Jimvy opened #778 "\abs cannot be put into an exponent without putting {} around it, and other similar issues"
https://github.com/Gp2mv3/Syntheses/blob/351291e8825cb9657231af370f03e2dfb3c759e5/src/eplcommon.sty#L38
The following code crashes:
[code]
which is ugly. A fix can be to change the definition of `\abs` to:
[code]
I'm probably going to fix this in an upcoming PR, but I guess there are other potential problems in eplcommon.sty

[2020-01-17 17:08] Jimvy opened #782 "Add a reference to copy-pasted exercise in \copypaste"
https://github.com/Gp2mv3/Syntheses/blob/351291e8825cb9657231af370f03e2dfb3c759e5/src/eplexercises.cls#L63

It would be great if this command (which currently creates a solution environment saying to look at another exercise) inserted a link to this other exercise.
Also, maybe it could also copy-paste the statement, if it is not already present.
And, let's dream even more: we could make it applica

[2020-01-30 19:29] Jimvy commented on #597
Il apparait que toutes les fonctionnalités de babel-french fonctionnent dans la page de garde et dans le texte optionnel, à l'exception des espaces devant la ponctuation haute ':', ';', '?' et '!'.
Pour que ces caractères deviennent "actifs" et insèrent une espace insécable, il faut que le texte soit déclaré après le `\begin{document}`. En particulier, ils ne sont pas actifs lorsqu'ils sont déclar

[2020-01-30 19:29] #597 closed

[2020-02-04 08:40] #681 closed

[2020-02-04 09:24] Jimvy opened #804 "Désactiver Greetings.yml"
Cette fonctionnalité ne marche pas des masses : elle n'a fonctionné correctement que deux fois au plus, et pour les nouveaux contributeurs, lorsqu'elle plante, elle affiche un message rouge qui donne l'impression qu'il y a des problèmes dans la PR, et lorsque celle-ci est bonne, elle indique un message en vert, qui peut donner l'impression que tout est OK, ce qui risque de mettre un peu trop en co

[2020-02-04 09:26] MartinBraquet commented on #804
Oui clairement, à suivre les updates pour voir s'ils intègrent un jour des checks de compil LaTeX (facile à déployer pour ce repo).
Tu le supprimes ?

[2020-02-04 09:32] Jimvy commented on #804
Est-ce qu'il suffit de juste virer le greetings.yml, ou est-ce qu'il y a d'autres paramètres dans le repo à régler ? Vu que c'est une intégration, ça a d'habitude une foultitude de paramètres.

[2020-02-04 09:53] MartinBraquet commented on #804
Oui, il faut juste supprimer le fichier

[2020-02-11 10:51] Peiffap commented on #778
@Jimvy This should be fixed by #793.

[2020-02-11 12:05] Jimvy commented on #778
I left it open due to the "other similar issues", but I think we can close
it.

On Tue, Feb 11, 2020, 11:51 Gilles Peiffer <notifications@github.com> wrote:

[2020-02-27 14:08] lverbiest opened #807 "Synthèse2-autolin-INMA1510 (Gilles Peiffer)"
Dans l'équation 46 (page 11 sur  les diagrammes de Bode), il y a une erreur. Il est écrit k/(1+sqrt(tau²w²)) au lieu de k/sqrt(1+tau²w²)

[2020-02-27 14:31] #807 closed

[2020-02-27 14:31] Peiffap commented on #807
@lverbiest Bien vu, merci !

[2020-05-06 12:47] Peiffap commented on #804
Fixed by #814.

[2020-05-06 12:47] #804 closed

[2020-05-06 13:01] Peiffap opened #815 "Potential missing solutions in LINGI1131 solutions"
As mentioned in #813, there might still be some missing solutions for the practice sessions which have been solved in [this repository](https://github.com/Peiffap/lingi1131-exercises).
It'd be nice if someone included them (or confirmed there is nothing to add).

[2020-05-06 13:04] Peiffap commented on #48
This issue doesn't seem likely to ever be solved, so I'm closing this for the time being.

[2020-05-06 13:04] #48 closed

[2020-05-06 13:06] Peiffap commented on #294
The teacher for the class has changed since (2015-2016 was the last year it was taught by Bernard Lambeau, Siegfried Nijssen has taken over since). Closing this issue since the comments in it are probably no longer relevant.

[2020-05-06 13:06] #294 closed

[2020-05-06 13:09] Peiffap commented on #127
Closing this as it seems unlikely to ever be addressed further and is not critical.

[2020-05-06 13:09] #127 closed

[2020-05-06 13:15] Peiffap commented on #525
With the current administration policy, this issue no longer has a purpose: it's already hard enough to get high-quality additions to the repo as is, and enforcing a certain coding style would take way too much time for the maintainers. I'm thus closing this as it is not relevant anymore.

[2020-05-06 13:15] #525 closed

[2020-05-06 13:18] Peiffap commented on #564
This could perhaps be appended either to one of #811 and #813, or to a hypothetical PR addressing #815.

[2020-05-06 13:21] Peiffap commented on #604
Having thought some more about it, my last solution would introduce redundancy in the name ("ml-elec-ELEC2870"), which is not very nice. Just calling both of them "ml" is fine, seen as the actual class code is appended to it, and that they are in different folders. Hence, I'm closing this.

[2020-05-06 13:21] #604 closed

[2020-05-06 13:24] Peiffap commented on #651
As this issue is not directly related to the repo, closing. Drive admins have been made aware of the issue.

[2020-05-06 13:24] #651 closed

[2020-05-06 13:32] Peiffap commented on #735
I think a better fix (rather than complicating things even further despite this being a minor inconvenience) would be to simply mention this in the contribution guidelines.

[2020-05-06 13:34] Peiffap commented on #778
In that case, I'm closing this; it's bad form anyway to typeset nontrivial operations without the curly braces.

[2020-05-06 13:34] #778 closed

[2020-05-06 13:46] Peiffap commented on #630
@MartinBraquet What is the state of this issue after merging #709?

[2020-05-06 13:55] MartinBraquet commented on #630
It's not checked in root.mk but I think it's enough with the provided template, people should not forget to add a (no-)sol section.

[2020-05-06 18:06] Jimvy commented on #48
Well, I would think it's better to have it open so that newcomers can immediately see that we are asking for their help. But indeed, unlikely to be really solved.

[2020-05-12 09:39] Peiffap opened #816 "Weird page breaks in LINGI1123 APE solutions"
In the APE solutions for LINGI1123 - Calculabilité, some pages have weird page breaks (e.g. page 21). I'm not sure why this is happening, but it would look a lot better when fixed.

[2020-05-12 10:58] Peiffap opened #818 "Standardize source code file names in LINGI1131 solutions"
#817 and #813 did some great work w.r.t. adding solutions for various exercises, but the code files could benefit from a more standardized naming convention.

[2020-05-12 12:41] MartinBraquet commented on #816
A line break is missing before the \begin{cases}, could be related to my compilator...

[2020-05-12 12:46] #816 closed

[2020-05-23 21:32] Peiffap opened #821 "Missing statements in LINGI2348"
The exams for 2009, 2010, 2012, and 2016 are missing their problem statements. I haven't checked the discussion links in some of them, but it would be nice to have these statements as part of the pdf's.

[2020-05-23 21:33] Peiffap commented on #821
@jdewasseige You're the main contributor for these, any ideas where we could find the statements?

[2020-05-25 12:14] Peiffap opened #823 "Uniformize/update how_to_contribute links in the README."
Currently, there are two problems with this:

- The links are not all the same (they refer to the Google Docs link and the DropBox link interchangeably).
- The links are not up to date with the repo; however, simply changing them to the Sharepoint link is not possible, since that would require login access.

At the very least, we should make sure to use the same link everywhere, and ideally, we'd

[2020-05-25 12:19] Peiffap commented on #823
Seems like uniformization was easy to do, though the problem of not having an updated document is still open.

[2020-05-25 12:23] MartinBraquet commented on #823
About the update, one could provide an open access link (without email address) to the sharepoint, but it will need to be changed when the onedrive will change of owner (that is, soon).

[2020-05-25 12:25] Peiffap commented on #823
Well, the pdf link would have to be updated already, I think one extra line change isn't going to make too big of a difference.

All good things must come to an end... 😭

[2020-06-11 17:14] Peiffap opened #830 "Typo in corollary environment name"
The corollary environment is currently named `mycorr`, but should only have one "r". `grep` reveals about 60 uses of this, I'm currently working on a PR which will increase that number though, so this should be fixed once that PR is merged.

[2020-06-11 17:42] blegat commented on #830
My bad, I was initially making the mistake "corrolary", I fixed it but apparently never renamed the name of the environment

[2020-06-17 23:19] Jimvy opened #835 "Automate renaming of courses with a script"
As seen in #834 #833 and #820 , the renaming of a course can be tedious.
I think it is time to think about automating this.
Even if it happens rarely, with the master reform approaching, it is likely that a lot of courses will be shuffled around and modified so that #820 will probably be a rather small PR.
(This is especially true for the INGI courses...)
What could be inside this script:
- moving

[2020-06-24 16:05] Jimvy opened #837 "Add support for unknown options in \documentclass in eplbase.cls"
Context: I was trying to see a document with the `draft` option (which draws the infamous overfull `\hbox` explicitly), but it caused an error.
Current problem: in `eplbase.cls`, all undeclared options are passed through `\DeclareOption*`, which throws a `\ClassError` if there is an unknown option.
Proposition: remove this piece of code so that we can pass standard options to the base classes. May

[2020-06-28 10:46] Jimvy opened #841 "Styling of \section and \subsection is incorrect in epleval-derived classes due to bad titlesec options"
Ex: the LEPL1803 2016 June exam contains a small unnumbered (starred) section before the questions, where there are some instructions and recaps.
In `eplbase.cls`, we define, using `sectsty`, the sections, subsections... to have a sans-serif font.
In `epleval.cls`, in order to have the stylish icon for the question number, we use `titlesec` to change the styling. But `titlesec` erases the modifica

[2020-06-28 17:06] Jimvy opened #842 "[EPL1104] Update methodnum summary annex"
Currently it explains how to use MATLAB/Octave. But the course has moved on to use Python/Numpy.

+Probably someone should update this summary.

[2020-06-28 17:16] Jimvy commented on #842
En plus ça cause des warnings car les fontes T1/lmss/m/sc (Latin Modern, graisse moyenne, small caps) n'existent pas...

[2020-06-28 21:12] Jimvy opened #843 "[MECA-1901] MMC exam 2017 Janvier Maj: "Maj" instead of "Majeure"
All is in the title. Needs to fix also the `Makefile`, obviously.

[2020-06-28 21:29] Jimvy opened #844 "Adapt the solution environment so that it uses the number of the section/subsection... it is in instead of just the section"
As observed in #632 .
I think the change just consists in replacing `\the\section` with something like `\the\title` (at least there seems to be such a macro defined in `titlesec`...)

[2020-07-08 14:07] Jimvy opened #846 "Fix AnalyseQuantitatives Q6"
On découvre chaque jour de nouveaux trucs dans ce repo 😄
Il faudrait :
- mettre un code de cours convenable (LPOLS1221)
- ajouter ce cours dans le config.yml si on veut qu'il soit un jour utilisé
- ajouter un dossier dans le Drive pour ce cours (oui, il n'en a pas)
- mettre un nom de cours convenable (genre "analyseQuantitatives" ou "donneesquanti")
- déplacer les .tex dans un truc comme notes ou

[2020-07-08 22:44] Jimvy opened #847 "[INGI2172] Fix \hypertitle of exercises"
https://github.com/Gp2mv3/Syntheses/blob/12ced292625e683df57b583853e5f83375824693/src/q8/database-INGI2172/exercises/database-INGI2172-exercises.tex#L6
BTW, si jamais vous vous demandez pourquoi je crée pleins d'issues, c'est pour pas oublier de faire des PR après.
(Et si vous vous demandez pourquoi je parle tout seul, j'ean sais rien, faut demander à Martin ;) )

[2020-07-08 22:50] Peiffap commented on #847
The relevance of this file is debatable, I don't even know what the exercises are supposed to be about and my exam was about three weeks ago...

[2020-07-08 22:50] Peiffap commented on #846
Related: #319

[2020-07-10 11:25] Jimvy commented on #841
Newly found bug: actually, in `exercises.cls` the titles are also in serif, be it `\section` or `\subsubsection`... So maybe it's by design?

[2020-07-10 11:38] Peiffap commented on #841
#127 is relevant here.

[2020-07-10 13:10] Jimvy commented on #841
Bon ben va falloir choisir ce qu'on fait alors (je switch en français pour être un peu plus "ouvert").
Je vois quelques options :
1. On met du sans-serif pour les titres (sections, sous-sections) des synthèses et notes. On met du serif pour les titres des exercices, examens, tests, QCMs (tout ce qui contient des corrections d'étudiants). C'est essentiellement ce qu'il y a actuellement, à part que

[2020-07-10 13:58] Jimvy commented on #632
I'm unearthing it to mention that in the LSINF1252 exercises, a counter-measure had been implemented to have nice looking solution labels.
That means that, if this is issue is ever fixed correctly, then we will have a problem with this document 😅

[2020-07-10 16:14] Jimvy commented on #841
Autre argument en faveur de la dépréciation de `sectsty`: depuis quelques versions il affiche les messages "Command \underbar has changed" et "Command \underline has changed". Et il n'y a qu'une seule manière de le faire disparaitre, c'est en le bougeant un peu plus tôt dans le chargement des packages. Sauf qu'on sait pas *qui* a changé la commande, donc avant *qui* il faut le mettre. ;)

[2021-02-13 12:39] Jimvy opened #875 "eplcommon.sty:56 \C already defined quand on utilise XeLaTeX"
Pour une raison mystérieuse, compiler un document avec XeLaTeX au lieu de PDFLaTeX provoque une erreur dans eplcommon.sty avec la définition de `\C`, parce qu'apparemment il y a déjà une commande définie avec le même nom...

De ce que je lis, ce serait une commande de `puenc.def` qui serait définie dans certains cas (probablement si on utilise XeLaTeX) et qui permet de définir un certain type d'ac

[2021-02-13 13:25] Peiffap commented on #875
`/renewcommand`, live life on the edge.

More seriously, it's probably best to replace it with `\complex` (and arguably, to proceed similarly with the other set definitions), and to update the command wherever it is used. Using `\ifdefined` would probably break a fair number of math-related documents, and I'm not even sure it would be possible to use the accented character in math-mode.

[2021-02-14 14:09] Jimvy opened #876 "[Discussion] Convention sur les apostrophes/guillemets/quotes en Unicode et en LaTeX"
[J'ai créé l'issue il y a trois jours mais visiblement j'ai oublié de cliquer sur "Submit" avant de fermer l'onglet...]

Petit annuaire des symboles dont je vais parler :
- `'` U+0027 "Apostrophe" : le caractère ASCII, une apostrophe verticale, qui sert communément d'apostrophe, de symbole "prime", et de symbole pour fermer les *single quotation mark*
- `‘` U+2018 "Left single quotation mark" : le

[2021-05-25 15:09] blegat opened #877 "Broken link to pdfs"
The link to the pdfs:
https://github.com/Gp2mv3/Syntheses/blob/61451e24439bc82e3fd2e7f2f35e1ccc3bb7cbd6/README.md#L60
seems to be broken, I get "404 FILE NOT FOUND".

[2021-06-05 15:49] kv-ohwtfyb opened #878 "QCM Calculabilité Q6 - LINGI1123, QCM 2 Séance 2 (Réponse Potentiellement Erroné)"
La question :
`` Un sous-ensemble infini d’un ensemble énumérable est énumérable. ``
Est normalement ``FAUX``, car le contre exemple :
**Complément de K** est un sous ensemble de N (énumérable), pourtant ceci n'est pas énumérable.
Mais dans le fichier `QCM Calculabilité Q6 - LINGI1123`, ceci est marqué comme ``VRAI``.

La justification :
``C’est un sous-ensemble donc il ne peut pas avoir plus d’él

[2021-06-05 23:39] blegat commented on #878
Quel est l'ensemble K ? J'ai l'impression que c'est vrai. Si un ensemble A est un sous-ensemble de B et B est énumérable, alors A est énumérable aussi.
Voici une idée de preuve.
Si A est énumérable, c'est possible d'avoir une énumération a_1, a_2, .... tels que {a_i | i = 1, 2, ... } = A
Comme B est une sous-ensemble de A, pour chaque b in B, il existe i(b) tel que b = a_{i(b)}.
Considère la fonct

[2021-06-06 09:20] kv-ohwtfyb commented on #878
En effet, je viens de me rendre compte que j'ai mélangé le concept de `` récursivement énumérable `` avec `` énumérable ``

[2021-06-06 10:56] #878 closed

[2021-10-31 01:40] #877 closed

[2022-01-06 10:45] MiguelDLC opened #886 "Erreur de compilation avec geomat-GCIV1171-summary.tex (Q4)"
Pour faire simple, en compilant le drive (via make sous linux ou manuellement sur linux/win, avec et sans latexmk), j'obtiens l'erreur:
[code]
J'aurais tendance à supposer que c'est dû aux mises à jours de LaTeX ou de certains packages (avant ça marchait). J'ai aussi eut des problèmes avec le package babel qui n'était pas chargé correctement (commande `\up` non définie dans la synthèse d'algèbre,

[2022-01-06 11:11] Jimvy commented on #886
Je vais tester sur mon install, après ça fait très longtemps que je n'ai plus mis à jour TeXlive ou MikTeX donc je ne sais pas si j'aurai les erreurs 😅

[2022-01-06 16:47] blegat commented on #886
J'ai aussi que `\up` est pas défini pour algebre. On dirait que soit l'option `fr` n'est pas transférée de `eplsummary` à `eplbase`
https://github.com/Gp2mv3/Syntheses/blob/cbd3ba7d833ca516a08f3ebef54fd1d947fa3afd/src/eplsummary.cls#L4
soit l'option `french` n'est pas passée à babel
https://github.com/Gp2mv3/Syntheses/blob/cbd3ba7d833ca516a08f3ebef54fd1d947fa3afd/src/eplbase.cls#L10

Pour geomat,

[2022-01-06 18:22] Jimvy commented on #886
Je n'ai pas l'erreur dans ma vieille version de TeXlive en tout cas, donc c'est probablement une mise à jour qui a cassé ça

[2022-01-07 09:58] MiguelDLC commented on #886
Pour babel, je suis aussi arrivé à plus ou moins la même conclusion que @blegat, mais j'ai l'impression que c'est plus subtil que ça, puisque en modifiant le template dans `eplbase` avec
[code]
La compilation fonctionne de nouveau comme prévu, avec la bonne langue. (ça se comporte un peu comme si le `PassOptionsToPackage` ne chargeait pas complètment l'option french, mais je n'ai aucune explicatio

[2022-01-07 15:16] Jimvy commented on #886
Ok, sur une install fraiche de TeXlive 2021, j'ai le même bug de "undefined control sequence" sur `\chapter`.
En compilant la synthèse de circmes, j'ai aussi un grand nombre d'erreurs avec `\fg` et `\og`, ce qui semble en accord avec le problème de babel ou de babel french.
En revanche, tous les documents n'ont pas nécessairement des problèmes pour compiler :

- q1/info-FSAB1401/summary a un undef